<template>
	<v-dialog
		v-model="editDialog"
		max-width="700px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
		@input="v => v || closeDialog()"
	>
		<v-card>
			<v-card-title><span class="headline">Арендатор</span></v-card-title>
			
			<v-card-text class="body-1 text--primary">
				<v-row>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.last_name" :label="$t('last_name')"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.first_name" :label="$t('first_name')"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.middle_name" :label="$t('middle_name')"/>
					</v-col>
				</v-row>
				
				<v-row class="mt-0">
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.phone" :label="$t('phone')"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.email" :label="$t('email')"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-dialog
							ref="dialog"
							v-model="birthDatePicker"
							width="290px"
						>
							<template v-slot:activator="{on, attrs}">
								<v-text-field
									v-model="item.birth_date"
									:label="$t('birth_date')"
									v-on="on"
									v-bind="attrs"/>
							</template>
							
							<v-date-picker v-model="birthDate" @input="birthDatePicker = false" no-title/>
						
						</v-dialog>
					</v-col>
				</v-row>
				
				<v-row class="mt-0">
					<v-col cols="12" sm="4">
						<v-select :items="passportTypes" :label="$t('passport_type')"
							v-model="item.passport_type"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.passport_serial" :label="$t('passport_serial')"/>
					</v-col>
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.passport_number" :label="$t('passport_number')"/>
					</v-col>
				</v-row>
				
				<v-row class="mt-0">
					<v-col cols="12" sm="4">
						<v-text-field v-model="item.citizenship" :label="$t('citizenship')"/>
					</v-col>
				</v-row>
			</v-card-text>
			
			<v-card-actions>
				<v-btn color="success"
					@click="save()"
					:loading="loading"
				>
					<span>{{$t('save')}}</span>
				</v-btn>
				<v-spacer/>
				<v-btn text
					@click="closeDialog()"
				>
					<span>{{$t('close')}}</span>
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapActions } from 'vuex'
import defaultState from '@/store/bookings/state'

export default {
	data: () => ({
		birthDate: null,
		birthDatePicker: false,
		loading: false,
		passportTypes: [
			{ text: 'Российский', value: 1 },
			{ text: 'Иностранный', value: 2 },
		],
	}),

	computed: {
		...mapFields('renters', ['editDialog', 'item']),
	},

	methods: {
		...mapActions('renters', ['update']),

		closeDialog () {
			this.editDialog = false
			this.$store.commit('renters/SET_ITEM', defaultState().item)
		},

		save () {
			this.loading = true
			this.update().finally(() => {
				this.loading = false
			})
		},
	},

	watch: {
		birthDate: function (value) {
			this.item.birth_date = this.$moment(new Date(value)).format('DD.MM.YYYY')
		},
	},
}
</script>

<style scoped>
</style>
