<template>
	<v-app-bar
		app
		color="white"
		dense
	>
		<v-toolbar-title class="ml-1">{{ $t('pages.' + $route.name + '.title') }} {{itemId}}
		</v-toolbar-title>
		
		<v-spacer></v-spacer>
		
		<v-menu offset-y v-if="$vuetify.breakpoint.smAndUp">
			<template v-slot:activator="{ on, attrs }">
				<v-icon
					x-large
					v-bind="attrs"
					v-on="on"
					color="primary">{{icons.mdiAccount}}
				</v-icon>
			
			</template>
			
			<v-list>
				<v-list-item>
					<v-list-item-content>
						<v-list-item-title class="title">
							{{user.name}}
						</v-list-item-title>
						<v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
					</v-list-item-content>
				
				</v-list-item>
				
				<v-divider></v-divider>
				<v-list-item @click="logout">
					<v-list-item-title>Выход</v-list-item-title>
				</v-list-item>
			</v-list>
		</v-menu>
		
		<v-icon x-large v-if="$vuetify.breakpoint.mdAndDown" @click="leftMenuShown = !leftMenuShown"
			color="primary">{{
			icons.mdiMenu
			}}
		</v-icon>
	</v-app-bar>
</template>


<script>
import { mapActions, mapState } from 'vuex'
import { mdiAccount, mdiDotsVertical, mdiHeart, mdiMagnify, mdiMenu } from '@mdi/js'
import { mapFields } from 'vuex-map-fields'

export default {
	data: () => ({
		icons: {
			mdiHeart,
			mdiMagnify,
			mdiDotsVertical,
			mdiAccount,
			mdiMenu,
		},
	}),
	computed: {
		...mapState('auth', ['user']),
		...mapFields('global', ['leftMenuShown']),
		itemId () {
			if (this.$route.params.id) {
				return '№' + this.$route.params.id
			}
			return ''
		},
	},
	methods: {
		...mapActions('auth', ['logout']),
	},
}
</script>

<style scoped>

</style>
