<template>
	<div class="text-center mt-10 mb-4 auth-header-logo">
		<router-link to="/login" class="no-decoration">
			<span class="main-text">AIR</span>
			<br>
			<span class="sub-text">CHECK-IN</span></router-link>
	</div>
</template>

<script>
export default {
	name: 'HeaderTitle',
}
</script>

<style scoped>
.main-text {
	font-weight: lighter;
	font-size: 6rem !important;
	line-height: 6rem;
	letter-spacing: 1.1rem !important;
	margin-right: -1.40rem;
}

.sub-text {
	font-weight: lighter;
	font-size: 2.7rem;
	line-height: 2rem !important;
	border-bottom: 2px solid #ff0000;
	border-radius: 0px;
}
</style>
