<template>
	<v-navigation-drawer
		app
		:permanent="$vuetify.breakpoint.lgAndUp"
		:temporary="$vuetify.breakpoint.mdAndDown"
		:right="$vuetify.breakpoint.mdAndDown"
		v-model="leftMenuShown"
		:mini-variant="isMini"
		mobile-breakpoint="0"
	>
		<v-list>
			<v-list-item>
				<v-list-item-title class="title" v-if="!isMini">AIR CHECK-IN</v-list-item-title>
				<v-list-item-action v-if="$vuetify.breakpoint.lgAndUp"
					@click.prevent="isMini = !isMini"
					style="cursor:pointer;">
					<v-icon color="primary">{{menuSizeToggleIcon}}</v-icon>
				</v-list-item-action>
			</v-list-item>
		</v-list>
		
		<v-divider></v-divider>
		
		<v-list nav dense>
			<v-list-item-group>
				<v-list-item
					v-for="item in items"
					:key="item.title"
					:to="item.path"
					class="no-decoration"
					active-class="primary--text"
					@click="$vuetify.breakpoint.mdAndDown ? leftMenuShown = false : null"
				>
					<v-list-item-icon>
						<v-icon>{{item.icon}}</v-icon>
					</v-list-item-icon>
					<v-list-item-title>{{item.title}}</v-list-item-title>
				</v-list-item>
			
			</v-list-item-group>
			<!--<v-list-group
							:value="false"
							:prepend-icon="icons.mdiAccount"
			>
					<template v-slot:activator>
							<v-list-item-title>Собственники</v-list-item-title>
					</template>

					<v-list-item link>
							<v-list-item-icon>
									<v-icon>{{icons.mdiBook}}</v-icon>
							</v-list-item-icon>
							<v-list-item-title>Любимые</v-list-item-title>
					</v-list-item>
			</v-list-group>-->
		
		</v-list>
		
		<!--Профиль пользователя и logout на мобилках-->
		<v-list v-if="$vuetify.breakpoint.xs">
			<v-divider></v-divider>
			<v-list-item class="">
				<v-list-item-content>
					<v-list-item-title class="title">
						{{user.name}}
					</v-list-item-title>
					<v-list-item-subtitle>{{user.email}}</v-list-item-subtitle>
				</v-list-item-content>
				
				<v-list-item-action>
					<v-icon color="primary" @click="logout">{{$vuetify.icons.values.logout}}</v-icon>
				</v-list-item-action>
			</v-list-item>
		</v-list>
	
	</v-navigation-drawer>

</template>

<script>
import { mapActions, mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
	name: 'TheLeftMenu',
	data: () => ({
		isMini: false,

	}),
	computed: {
		...mapFields('global', ['leftMenuShown']),
		...mapState('auth', ['user']),
		menuSizeToggleIcon () {
			return this.isMini ? this.$vuetify.icons.values.next : this.$vuetify.icons.values.prev
		},
		items () {
			return {
				dashboard: {
					path: '/dashboard',
					title: this.$t('pages.dashboard.menu'),
					icon: this.$vuetify.icons.values.book,
				},
				apartments: {
					path: '/apartments',
					title: this.$t('pages.apartments.menu'),
					icon: this.$vuetify.icons.values.home,
				},
				bookings: {
					path: '/bookings',
					title: this.$t('pages.bookings.menu'),
					icon: this.$vuetify.icons.values.calendar,
				},
				owners_contracts: {
					path: '/owners-contracts',
					title: this.$t('pages.owners_contracts.menu'),
					icon: this.$vuetify.icons.values.document,
				},
				owners: {
					path: '/owners',
					title: this.$t('pages.owners.menu'),
					icon: this.$vuetify.icons.values.account,
				},
				users: {
					path: '/users',
					title: this.$t('pages.users.menu'),
					icon: this.$vuetify.icons.values.account,
				},
				renters: {
					path: '/renters',
					title: this.$t('pages.renters.menu'),
					icon: this.$vuetify.icons.values.account,
				},
			}
		},
	},
	methods: {
		...mapActions('auth', ['logout']),
	},
}
</script>

<style scoped lang="sass">
@import '~vuetify/src/styles/styles.sass'
.v-list-item__title
	font-size: 0.8125rem
	font-weight: 500
	line-height: 1rem

</style>
