<template>
	<v-dialog
		v-model="editDialog"
		max-width="800px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
		@input="v => v || onDialogClose()"
	>
		<v-card>
			<v-overlay :value="itemLoading" :absolute="true">
				<v-progress-circular
					:size="100"
					color="white"
					indeterminate
				></v-progress-circular>
			</v-overlay>
			
			<v-card-title><span class="headline">Заголовок</span></v-card-title>
			
			<v-card-text>
				Текст
			</v-card-text>
			
			<v-card-actions>
				<v-btn text @click="editDialog = false">
					{{$t('cancel')}}
				</v-btn>
				
				<v-spacer></v-spacer>
				<v-btn color="primary"
					:disabled="formLoading"
					:loading="formLoading"
					@click="editDialog = false"
				>
					<span>{{$t('save')}}</span>
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import defaultState from '@/store/apartments/state'

export default {
	data: () => ({}),
	computed: {
		...mapFields('apartments', ['editDialog', 'itemLoading', 'formLoading', 'item']),
	},
	methods: {
		...mapActions('apartments', ['getItems']),

		onDialogClose () {
			if (this.item.id) {

				const commit = this.$store.commit
				setTimeout(() => commit('apartments/UPDATE_ITEM', defaultState().item),
					500)
			}
		},
	},
}
</script>

<style scoped>
</style>
