<template>
	<v-dialog
		v-model="dialog"
		max-width="400px"
		:fullscreen="$vuetify.breakpoint.xs"
	>
		<template v-slot:activator="{ on, attrs }">
			<v-btn
				color="primary"
				dark
				class="mb-2"
				v-bind="attrs"
				v-on="on"
			>
				{{$t('users.invite')}}
			</v-btn>
		</template>
		
		<v-card :loading="loading">
			<v-card-title>
				<span class="headline">{{$t('invitation')}}</span>
			</v-card-title>
			
			<v-form ref="form" @submit.prevent="validateAndSend">
				<v-card-text class="pt-2">
					Мы отправим пригласительное письмо со ссылкой на регистрацию на указанный e-mail
					
					<v-text-field
						name="name"
						v-model="user.name"
						:rules="nameRules"
						:label="$t('auth.name')"
						validate-on-blur
						required
						:error-messages="errors.name"
						@focus="errors.name = ''"
					></v-text-field>
					<v-text-field
						name="email"
						v-model="user.email"
						:rules="emailRules"
						:label="$t('auth.email')"
						placeholder="administrator@gmail.com"
						validate-on-blur
						required
						:error-messages="errors.email"
						@focus="errors.email = ''"
					></v-text-field>
				</v-card-text>
				
				<v-card-actions>
					<v-btn
						color="primary darken-1"
						text
						@click="dialog = false"
					>
						{{$t('close')}}
					</v-btn>
					
					<v-spacer></v-spacer>
					<v-btn
						color="primary darken-1"
						:loading="loading"
						type="submit"
					>
						{{ $t('users.sendInvite') }}
					</v-btn>
				</v-card-actions>
			
			</v-form>
		</v-card>
	</v-dialog>
</template>

<script>

import { mapActions } from 'vuex'
import { emailRules, nameRules } from '@/utils/fieldsRules'
import { formatPhone } from '@/utils/fieldsFormatters'

export default {
	data: () => ({
		dialog: false,
		user: {},
		errors: {},
		passwordHidden: true,
		loading: false,
	}),
	computed: {
		...{ nameRules, emailRules },
		passAppendIcon () {
			return this.passwordHidden ? this.$vuetify.icons.values.eye : this.$vuetify.icons.values.eyeOff
		},
		passTextFieldType () {
			return this.passwordHidden ? 'password' : 'text'
		},
	},
	methods: {
		...mapActions('users', ['invite', 'getItems']),
		formatPhone: (phone) => {
			this.user.phone = formatPhone(phone)
		},
		validateAndSend () {
			if (this.$refs.form.validate()) {
				this.loading = true

				this.invite(this.user)
					.finally(() => {
						this.loading = false
						this.dialog = false
					})
			}
		},
	},
}
</script>

<style scoped>

</style>
