<template>
	<v-dialog
		v-model="dialog"
		width="400"
	>
		<template v-slot:activator="{ on, attrs }">
			<!--Код шаблона кнопки активатора-->
			<!--<template slot="activator" slot-scope="{attrs, on}">
					<v-icon
									color="primary"
									v-bind="attrs"
									v-on="on"
					>
							{{icons.mdiDelete}}
					</v-icon>
			</template>-->
			<slot name="activator" v-bind:on="on" v-bind:attrs="attrs">
				<v-icon
					color="primary"
					v-bind="attrs"
					v-on="on"
				>
					{{removeIcon}}
				</v-icon>
			</slot>
		</template>
		
		<v-card :loading="loading">
			<v-card-title class="headline">
				Действительно хотите удалить?
			</v-card-title>
			
			<v-divider></v-divider>
			
			<v-card-actions>
				<v-btn
					color="primary"
					text
					@click="dialog = false"
				>
					{{$t('cancel')}}
				</v-btn>
				<v-spacer></v-spacer>
				<v-btn
					color="error"
					text
					@click="confirm"
					:disabled="loading"
				>
					Подтверждаю
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mdiDelete } from '@mdi/js'

export default {
	data: () => ({
		dialog: true,
		loading: false,
		removeIcon: mdiDelete,
	}),
	props: {
		item: Object,
		namespace: String,
	},
	methods: {
		confirm () {
			this.loading = true

			const storeNamespace = this.namespace.toLowerCase()
			this.$store.dispatch(storeNamespace + '/remove', this.item).finally(() => {
				this.dialog = false
				this.loading = false

				this.$store.dispatch(storeNamespace + '/getItems')
			})

		},
	},
}
</script>

<style scoped>

</style>
