<template>
	<div>
		<v-dialog
			v-model="dialog"
			scrollable
			width="1000"
			@input="handleModalOpen"
			content-class="overflow-hidden"
		>
			
			<template v-slot:activator="{ on, attrs }">
				<slot :on="on" :attrs="attrs" name="activator">
				</slot>
			</template>
			
			<booking-view-dialog/>
			<v-card>
				<v-card-title>Оплаченные и завершённые сделки за 2 месяца
				</v-card-title>
				<v-card-text>
					
					<v-overlay :value="loading" absolute>
						<v-progress-circular
							:size="100"
							color="white"
							indeterminate
						></v-progress-circular>
					</v-overlay>
					
					
					<div v-if="!loading && !hasBookings">
						<span class="body-1 text--primary">Бронирования не найдены</span>
					</div>
					
					<div v-if="hasBookings">
						<v-tabs v-model="tab">
							<v-tab v-for="(_, month) in bookings" :key="month">
								{{month}}
							</v-tab>
						</v-tabs>
						
						<v-tabs-items v-model="tab"
						>
							<v-tab-item
								v-for="(data, month) in bookings"
								:key="month"
								:transition="false"
								:reverse-transition="false">
								<v-data-table
									item-key="id"
									:items="data"
									class="elevation-4 row-pointer"
									@click:row="showViewDialog"
									:headers="headers"
									:loading="loading"
									:loading-text="$t('loadingData')"
									hide-default-footer
								>
									<template v-slot:item.dates="{ item: {date_from, date_to} }">
										{{datesText(date_from, date_to)}}
									</template>
									<template v-slot:item.period_price="{ item }">
										{{item.period_price}} {{$t('rub')}}
									</template>
									<template v-slot:item.cleanings_total_price="{ item }">
										{{item.cleanings_total_price}} {{$t('rub')}}
									</template>
									<template v-slot:item.service_agent_profit="{ item }">
										{{item.service_agent_profit}} {{$t('rub')}}
										({{item.service_agent_percent}}%)
									</template>
									<template v-slot:item.owner_profit="{ item }">
										{{item.owner_profit}} {{$t('rub')}}
									</template>
									
									<template v-slot:item.actions="{ item }">
										<div class="text-right">
											
											<v-icon
												:title="$t('show')"
												class="mr-2"
												color="primary"
												@click="showViewDialog(item)"
											>
												{{ $vuetify.icons.values.eye }}
											</v-icon>
										</div>
									</template>
									
									
									<template slot="body.append">
										<tr>
											<td class="font-weight-bold">Итого</td>
											
											<td>{{totals[month]['period_price']}} {{$t('rub')}}</td>
											<td>{{totals[month]['cleanings_total_price']}}
												{{$t('rub')}}
											</td>
											<td>{{totals[month]['service_agent_profit']}}
												{{$t('rub')}}
											</td>
											<td>{{totals[month]['owner_profit']}} {{$t('rub')}}</td>
										</tr>
									</template>
								</v-data-table>
							</v-tab-item>
						</v-tabs-items>
					</div>
				
				</v-card-text>
				<v-divider></v-divider>
				<v-card-actions>
					<v-spacer/>
					<v-btn
						color="blue darken-1"
						text
						@click="dialog = false"
					>
						{{$t('close')}}
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import BookingViewDialog from '@/components/bookings/BookingViewDialog'

export default {
	components: {
		BookingViewDialog,
	},
	data () {
		return {
			tab: null,
			dialog: false,
			loading: false,
			bookings: {},
			totals: {},
			headers: [
				{ text: 'Даты', value: 'dates', sortable: false },
				{ text: 'Доход', value: 'period_price' },
				{ text: 'Уборка', value: 'cleanings_total_price' },
				{ text: 'Сервисный агент', value: 'service_agent_profit' },
				{ text: 'Собственник', value: 'owner_profit' },
				{ text: '', value: 'actions' },
			],
		}
	},
	props: ['owner'],
	computed: {
		...mapFields('bookings', ['viewDialog']),
		hasBookings () {
			return Object.keys(this.bookings).length > 0
		},
	},
	methods: {

		...mapActions('owners', ['getBookings']),
		getBookingsData () {
			const ownerId = this.owner.id

			if (ownerId) {
				this.loading = true
				const query = {
					group_by: 'month',
					'filter[date_from]': this.$moment().subtract(1, 'month').format('YYYY-MM-01'),
					'filter[status][0]': 4,
					'filter[status][1]': 5,
				}

				this.getBookings({
					ownerId, query,
				}).then(({ data: { data } }) => {
					this.bookings = data
					this.calculateTotals()
				}).finally(() => {

					this.loading = false
				})
			}
		},
		handleModalOpen (v) {
			if (v) {
				this.getBookingsData()
			}
		},

		datesText (dateFrom, dateTo) {
			dateFrom = this.$moment(new Date(dateFrom)).format('DD.MM')
			dateTo = this.$moment(new Date(dateTo)).format('DD.MM')
			return `${dateFrom} - ${dateTo}`
		},

		calculateTotals () {
			for (const [key, bookings] of Object.entries(this.bookings)) {
				this.totals[key] = {
					period_price: 0,
					service_agent_profit: 0,
					owner_profit: 0,
					cleanings_total_price: 0,
				}

				bookings.forEach((booking) => {
					this.totals[key]['period_price'] += booking.period_price
					this.totals[key]['service_agent_profit'] += booking.service_agent_profit
					this.totals[key]['owner_profit'] += booking.owner_profit
					this.totals[key]['cleanings_total_price'] += booking.cleanings_total_price
				})
			}
		},

		showViewDialog (item) {
			if (item.id && this.viewDialog === false) {
				this.viewDialog = true
				this.$store.commit('bookings/SET_ITEM', item)
			}
		},
	},
}
</script>

<style lang="css" scoped>
.row-pointer >>> tbody tr :hover {
	cursor: pointer;
}
</style>
