<template>
	<div>
		<v-dialog
			v-model="reportsDialog"
			scrollable
			width="1000"
			content-class="overflow-hidden"
		>
			<v-card>
				<v-card-title>Отчёты собственника
				</v-card-title>
				<v-card-text>
					
					<v-overlay :value="loading" absolute>
					</v-overlay>
					
					<v-data-table
						item-key="id"
						:items="reports"
						class=""
						:headers="headers"
						:loading="loading"
						:loading-text="$t('loadingData')"
					>
						<template
							v-slot:item.cleanings_count="{ item: {cleanings_count} }">
							{{cleanings_count}}
						</template>
						
						<template
							v-slot:item.cleanings_total_price="{ item: {cleanings_total_price} }">
							{{cleanings_total_price}} {{$t('rub')}}
						</template>
						
						<template
							v-slot:item.bookings_total="{ item: {bookings_count, bookings_period_price} }">
							{{bookings_count}} на {{bookings_period_price}} {{$t('rub')}}
						</template>
						
						<template v-slot:item.service_agent_profit="{ item: {service_agent_profit} }">
							{{service_agent_profit}} {{$t('rub')}}
						</template>
						
						<template v-slot:item.owner_profit="{ item: {owner_profit} }">
							{{owner_profit}} {{$t('rub')}}
						</template>
						
						<template v-slot:item.actions="{ item }">
							<div class="text-right">
								
								<v-icon
									:title="$t('show')"
									class="mr-2"
									color="primary"
									@click="download(item)"
								>
									{{ $vuetify.icons.values.download }}
								</v-icon>
							</div>
						</template>
					</v-data-table>
				
				</v-card-text>
				<v-divider></v-divider>
				<v-card-actions>
					<v-spacer/>
					<v-btn
						color="blue darken-1"
						text
						@click="reportsDialog = false"
					>
						{{$t('close')}}
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
	props: ['ownerId'],
	data () {
		return {
			loading: false,
			reports: [],
			headers: [
				{ text: 'Месяц', value: 'date' },
				{ text: 'Кол-во уборок', value: 'cleanings_count' },
				{ text: 'Расход на уборки', value: 'cleanings_total_price' },
				{ text: 'Кол-во сделок', value: 'bookings_total' },
				{ text: 'Прибыль сервисного агента', value: 'service_agent_profit' },
				{ text: 'Прибыль собственника', value: 'owner_profit' },
				{ text: '', value: 'actions' },
			],
		}
	},
	computed: {
		...mapFields('owners', ['reportsDialog']),
	},
	methods: {
		...mapActions('owners', ['getReports', 'downloadContractReport']),
		getReportsData () {
			if (this.ownerId) {
				this.loading = true

				this.getReports(this.ownerId).then(({ data: { data } }) => {

					this.reports = data.map(report => {
						const total = report.data.total
						return {
							id: report.id,
							date: this.$moment(new Date(report.date), 'DD.MM.YY').locale('ru').format('MMMM YYYY'),
							cleanings_total_price: total.cleanings_total_price,
							cleanings_count: total.cleanings_count,
							bookings_count: total.bookings_count,
							bookings_period_price: total.bookings_period_price,
							service_agent_profit: total.service_agent_profit,
							owner_profit: total.owner_profit,
						}
					})

				}).finally(() => {
					this.loading = false
				})
			}
		},

		download (item) {
			if (item.id) {
				this.downloadContractReport(item.id)
			}
		},
	},

	watch: {
		reportsDialog (visible) {
			if (visible) {
				this.getReportsData()
			} else {
				this.reports = []
			}
		},
	},
}
</script>
