<template>
	<div>
		<v-dialog
			v-model="notificationsDialog"
			scrollable
			width="800"
			content-class="overflow-hidden"
		>
			<v-card>
				<v-card-title>Уведомления собственника
				</v-card-title>
				<v-card-text>
					
					<v-overlay :value="loading" absolute>
					</v-overlay>
					
					<v-data-table
						item-key="id"
						:items="notifications"
						:headers="headers"
						:loading="loading"
						:loading-text="$t('loadingData')"
					>
						<template
							v-slot:item.read="{ item: {read} }">
							<v-icon
								v-if="read"
								:title="$t('readed')"
								color="success"
							>
								{{ $vuetify.icons.values.check }}
							</v-icon>
						</template>
						
						<template v-slot:item.actions="{ item }">
							<div class="text-right">
								
								<v-icon
									:title="$t('delete')"
									class="mr-2"
									color="primary"
									@click="remove(item)"
								>
									{{ $vuetify.icons.values.trash }}
								</v-icon>
							</div>
						</template>
					</v-data-table>
				
				</v-card-text>
				<v-divider></v-divider>
				<v-card-actions>
					<v-btn color="primary" outlined @click="newNotification()">
						Новое уведомление
					</v-btn>
					<v-spacer/>
					<v-btn
						color="blue darken-1"
						text
						@click="notificationsDialog = false"
					>
						{{$t('close')}}
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
	props: ['ownerId'],
	data () {
		return {
			loading: false,
			notifications: [],
			headers: [
				{ text: 'Дата', value: 'created_at' },
				{ text: 'Сообщение', value: 'message', sortable: false },
				{ text: 'Прочитано', value: 'read' },
				{ text: '', value: 'actions', sortable: false },
			],
		}
	},
	computed: {
		...mapFields('owners', ['notificationsDialog']),
	},
	methods: {
		...mapActions('owners', ['getNotifications', 'deleteNotification', 'createNotification']),
		getNotificationsData () {
			if (this.ownerId) {
				this.loading = true

				this.getNotifications(this.ownerId).then(({ data: { data } }) => {
					this.notifications = data
				}).finally(() => {
					this.loading = false
				})
			}
		},

		remove (notification) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: 'это сообщение' }),
				onConfirm: () => this.deleteNotification({
					ownerId: this.ownerId,
					notificationId: notification.id,
				}),
			}).then(confirmed => {
				if (confirmed) {
					this.getNotificationsData()
				}
			})
		},

		newNotification () {
			this.$confirm({
				title: this.$t('new_notification'),
				input: {
					label: this.$t('message'),
					type: 'textarea',
					rows: 1,
					max: 255,
				},
				buttonTrueText: this.$t('send'),
				onConfirm: (message) => this.createNotification({
					message,
					ownerId: this.ownerId,
				}),
			}).then((confirmed) => {
				if (confirmed) {
					this.$snotify.success('Уведомление отправлено')
					this.getNotificationsData()
				}
			})
		},
	},

	watch: {
		notificationsDialog (visible) {
			if (visible) {
				this.getNotificationsData()
			} else {
				this.notifications = []
			}
		},
	},
}
</script>
