<template>
	<v-dialog
		v-model="dialog"
		max-width="400px"
		:fullscreen="$vuetify.breakpoint.xs"
	>
		<template v-slot:activator="{ on, attrs }">
			<v-btn
				color="primary"
				dark
				class="mb-2"
				v-bind="attrs"
				v-on="on"
			>
				{{$t('owners.invite')}}
			</v-btn>
		</template>
		
		<v-card :loading="loading">
			<v-card-title>
				<span class="headline">{{$t('invitation')}}</span>
			</v-card-title>
			
			<v-card-text class="text--primary body-1">
				{{ $t('owners.inviteText') }}
				<v-textarea
					class="mt-4"
					name="appLink"
					ref="appLink"
					readonly
					:value="ownerAppUrl"
					:label="$t('owners.appLink')"
					v-clipboard:copy="ownerAppUrl"
					v-clipboard:success="linkCopied"
					no-resize
					rows="1"
					auto-grow
					:hint="$t('owners.copyLinkHint')"
					persistent-hint
				></v-textarea>
			
			
			</v-card-text>
			<!--            <v-form>-->
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn
					color="primary darken-1"
					text
					@click="dialog = false"
				>
					{{$t('close')}}
				</v-btn>
			</v-card-actions>
			<!--            </v-form>-->
		
		
		</v-card>
	</v-dialog>
</template>

<script>

import { mapActions } from 'vuex'
import { emailRules, nameRules } from '@/utils/fieldsRules'
import { formatPhone } from '@/utils/fieldsFormatters'

export default {
	data: () => ({
		dialog: false,
		loading: false,
	}),

	computed: {
		...{ nameRules, emailRules },

		passAppendIcon () {
			return this.passwordHidden ? this.$vuetify.icons.values.eye : this.$vuetify.icons.values.eyeOff
		},

		passTextFieldType () {
			return this.passwordHidden ? 'password' : 'text'
		},

		ownerAppUrl () {
			return process.env.VUE_APP_OWNER_APP_URL + '?account_id=' + this.$store.state.auth.user.account_id
		},
	},

	methods: {
		...mapActions('users', ['invite', 'getItems']),

		formatPhone: (phone) => {
			this.user.phone = formatPhone(phone)
		},

		linkCopied: function () {
			this.$snotify.success(this.$t('linkCopied'))
		},
	},
}
</script>

<style scoped>

</style>
