<template>
	<div>
		<booking-edit-dialog/>
		<booking-view-dialog/>
		
		<div class="text-sm-left text-right mb-4">
			
			<v-btn
				color="primary"
				dark
				class="mb-2"
				@click="showEditDialog()"
			>
				{{$t('bookings.new')}}
			</v-btn>
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4 hide-sort"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
		>
			
			<template v-slot:top>
				<v-row class="mx-2">
					<v-col class="">
						<v-text-field
							v-model="search"
							label="Поиск (имя или телефон арендатора, даты)"
						></v-text-field>
					</v-col>
				</v-row>
			</template>
			
			<template v-slot:item.renter="{ item: {renter} }">
				<div v-if="renter">
					<div v-if="renter.first_name">{{renter.last_name}} {{renter.first_name}}
					</div>
					{{renter.phone}}
				</div>
			
			</template>
			<template v-slot:item.date_from="{ item: {date_from} }">
				{{date_from | moment('DD.MM.YY HH:mm')}}
			</template>
			
			<template v-slot:item.date_to="{ item: {date_to} }">
				{{date_to | moment('DD.MM.YY HH:mm')}}
			</template>
			
			<template v-slot:item.actions="{ item }">
				<div class="text-right">
					
					<v-icon
						v-if="item.status < BOOKING_COMPLETED"
						:title="$t('show')"
						class="mr-2"
						color="primary"
						@click="showEditDialog(item)"
					>
						{{ $vuetify.icons.values.edit }}
					</v-icon>
					
					<v-icon
						:title="$t('show')"
						class="mr-2"
						color="primary"
						@click="showViewDialog(item)"
					>
						{{ $vuetify.icons.values.eye }}
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { mdiDelete, mdiPencil, mdiPlus } from '@mdi/js'
import BookingEditDialog from '@/components/bookings/BookingEditDialog'
import BookingViewDialog from '@/components/bookings/BookingViewDialog'
import { buildName } from '@/utils/attributeBuilders'
import { BOOKING_COMPLETED } from '@/utils/types/booking_status'

export default {
	components: { BookingEditDialog, BookingViewDialog },
	data: () => ({
		search: '',
		icons: {
			mdiPencil,
			mdiDelete,
			mdiPlus,
		},
		BOOKING_COMPLETED,
	}),
	computed: {
		...mapFields('bookings', ['editDialog', 'viewDialog', 'items', 'loading']),
		headers () {
			return [
				{
					text: 'Апартамент',
					value: 'apartment.name',
					sortable: false,
					filter: this.searchFilter,
				},
				{ text: 'Арендатор', value: 'renter', sortable: false },
				{ text: 'Заезд', value: 'date_from' },
				{ text: 'Выезд', value: 'date_to' },
				{ text: 'Статус', value: 'status_title' },
				{ text: '', value: 'actions', sortable: false },
			]
		},
	},

	methods: {
		...mapActions('bookings', ['setLoading', 'getItems', 'getItem', 'reset', 'remove']),
		searchFilter (value, header, item) {
			if (this.$route.query.id && this.$route.query.id != item.id) {
				return false
			}

			const { date_from, date_to, renter, id } = item

			const values = [
				date_from,
				date_to,
				id,
			]

			if (renter) {
				if (this.$route.query.renter_id && this.$route.query.renter_id != renter.id) {
					return false
				}

				const { last_name, first_name, middle_name, phone, email } = renter

				values.push(
					buildName(last_name, first_name, middle_name),
					phone,
					email,
				)
			}


			if (!this.search) {
				return true
			}


			return values.some(v => v && v.toString().toLowerCase().includes(this.search.toLowerCase()))
		},
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.name }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
		showViewDialog (item) {
			this.$store.commit('bookings/SET_ITEM', item)
			this.viewDialog = true
		},
		
		showEditDialog (item = null) {
			if (item) {
				this.$store.commit('bookings/SET_ITEM', item)
			}

			this.editDialog = true
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}

		if (this.$route.query.search) {
      this.search = this.$route.query.search
		}

	},
}
</script>
