<template>
	<v-dialog
		v-model="editDialog"
		max-width="650px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
	>
		<v-card>
			<v-card-title class="headline">
				<span v-if="booking.id">{{$t('booking')}} №{{booking.id}}</span>
				<span v-else>{{$t('bookings.new')}}</span>
			</v-card-title>
			<v-card-text>
				
				<v-form ref="form">
					<v-row>
						<!--Календарь, даты заезда и выезда-->
						<v-col cols="12" md="6" class="py-0">
							<v-menu
								v-model="datepicker"
								:close-on-content-click="false"
								:transition="false"
								offset-y
								max-width="290px"
							>
								<template v-slot:activator="{}">
									<v-text-field
										v-model="selectedDatesText"
										:prepend-inner-icon="$vuetify.icons.values.calendar"
										:append-icon="isDatesSelected ? $vuetify.icons.values.close : ''"
										@mouseup="showDatepicker"
										@click:append="resetDatesAndApartment"
										:label="$t('bookings.dates')"
										readonly
									/>
								</template>
								
								<v-date-picker
									v-model="selectedDates"
									range
									no-title
									@change="handleDatepickerChange"
									:min="$moment().format('YYYY-MM-DD')"
								/>
							</v-menu>
						</v-col>
						
						
						<!--Источник сделки-->
						<v-col cols="12" md="6" class="py-0">
							<v-select
								:label="$t('bookings.source')"
								:items="bookingSourcesItems"
								v-model="booking.source_id"
							></v-select>
						</v-col>
						
						<!--Апартамент-->
						<v-col cols="12" md="6" class="py-0">
							<v-autocomplete
								:disabled="!isDatesSelected"
								:loading="apartmentsLoading"
								:label="$t('apartment')"
								:items="apartmentsItems"
								v-model="selectedApartment"
								@input="handleApartmentChange"
								:error-messages="errors.apartment_id"
								@focus="errors.apartment_id = null"
								return-object
							/>
						</v-col>
						
						<!--Собственник и история сделок-->
						<v-col cols="12" md="6" class="py-0">
							<div v-if="selectedApartment.owner_id">
								<span class="text-caption">{{$t('owner')}}: {{selectedApartment.owner.last_name}} {{selectedApartment.owner.first_name}}</span>
								<owner-bookings-dialog :owner="selectedApartment.owner">
									<template v-slot:activator="{on, attrs}">
										<v-btn text outlined
											small
											v-bind="attrs"
											v-on="on">История сделок
										</v-btn>
									</template>
								</owner-bookings-dialog>
							</div>
							
							<span v-else-if="!isDatesSelected && !selectedApartment.id"
								class="text-caption">Для выбора апартамента укажите даты заезда и выезда</span>
						</v-col>
					</v-row>
					
					<v-row>
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								min="0"
								suffix="₽"
								v-model="booking.day_price"
								:error-messages="errors.day_price"
								@input="calculatePeriodPrice()"
								@focus="errors.day_price = null"
								:label="$t('bookings.day_price')"
							/>
						
						</v-col>
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								v-model="booking.period_price"
								:error-messages="errors.period_price"
								@focus="errors.period_price = null"
								min="0"
								suffix="₽"
								:label="$t('bookings.period_price')"
							/>
						
						</v-col>
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								v-model="booking.deposit"
								:error-messages="errors.deposit"
								@focus="errors.deposit = null"
								min="0"
								suffix="₽"
								:label="$t('bookings.deposit')"
							/>
						
						</v-col>
						
						<v-col cols="12" class="py-0"/>
						
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								v-model="booking.cleanings_count"
								:error-messages="errors.cleanings_count"
								@focus="errors.cleanings_count = null"
								min="0"
								:label="$t('bookings.cleanings_count')"
							/>
						</v-col>
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								v-model="booking.cleaning_price"
								:error-messages="errors.cleaning_price"
								@focus="errors.cleaning_price = null"
								min="0"
								suffix="₽"
								:label="$t('bookings.cleaning_price')"
							/>
						</v-col>
						
						
						<v-col cols="12" class="py-0"/>
						
						<!--Арендатор-->
						<v-col cols="12" md="7" class="py-0">
							<v-combobox
								:loading="rentersLoading"
								:label="$t('bookings.phone')"
								:items="rentersItems"
								:value="selectedRenter"
								@input="setBookingRenterPhone"
								:search-input.sync="renterSearchInput"
								return-object
							>
								<template v-slot:prepend-inner>
									<v-tooltip bottom max-width="300px">
										<template v-slot:activator="{ on, attrs }">
											<v-icon
												v-bind="attrs"
												v-on="on"
												color="primary"
											>{{$vuetify.icons.values.info}}
											</v-icon>
										</template>
										<span>{{$t('bookings.renter_search_text')}}</span>
									</v-tooltip>
								</template>
							</v-combobox>
						</v-col>
						
						<v-col cols="12" md="5" class="py-0">
							<v-select
								:label="$t('bookings.payment_method')"
								:items="paymentMethodsItems"
								:error-messages="errors.payment_method_id"
								@focus="errors.payment_method_id = null"
								v-model="booking.payment_method_id"
							/>
						</v-col>
					</v-row>
					
					<v-row>
						<v-col cols="12" md="4" class="py-0">
							<v-text-field type="number"
								v-model="booking.service_agent_percent"
								:error-messages="errors.service_agent_percent"
								@focus="errors.service_agent_percent = null"
								suffix="%"
								min="0"
								:label="$t('bookings.service_agent_percent')"
							/>
						</v-col>
						<v-col class="text-right">
							<div>Расход на уборки: {{cleaningsCost}} {{$t('rub')}}</div>
							<div>Поступления сервисному агенту: {{serviceIncome}} {{$t('rub')}}
								{{$t('rub')}}
							</div>
							<div>Поступления собственнику: {{ownerProfit}} {{$t('rub')}}</div>
						</v-col>
					</v-row>
				</v-form>
				
				<div v-if="booking.description && booking.description.length > 0">
					<v-textarea rows="1" auto-grow :value="booking.description" readonly
						label="Комментарий арендатора"></v-textarea>
				</div>
				
				<div ref="link" v-if="booking.code">
					<a href="#"
						@click="copyRegistrationLink()">{{$t('bookings.copy_registration_link')}}</a>
				</div>
			</v-card-text>
			<v-card-actions>
				<v-btn text @click="editDialog = false">
					{{$t('close')}}
				</v-btn>
				
				<v-spacer/>
				<v-btn color="primary"
					:disabled="formLoading"
					:loading="formLoading"
					@click="createOrUpdate"
				>
					<span v-if="booking.id">{{$t('save')}}</span>
					<span v-else>{{$t('bookings.create')}}</span>
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import OwnerBookingsDialog from '@/components/owners/OwnerBookingsDialog'
import defaultState from '@/store/bookings/state'

export default {
  components: {
    OwnerBookingsDialog,
  },

  data: () => ({
    datepicker: false,
    selectedDates: [],

    apartmentsLoading: false,
    apartments: [],
    selectedApartment: {},

    renters: [],
    rentersLoading: false,
    renterSearchInput: '',
    selectedRenter: null,

    booking: defaultState().item,
  }),

  props: ['apartmentProp', 'datesProp'],

  computed: {
    ...mapFields('bookings', ['create', 'update', 'editDialog', 'errors', 'item', 'formLoading']),
    ...mapFields('global', ['bookingSources', 'paymentMethods']),


    datesDaysCount() {
      let days = 1

      if (this.isDatesSelected) {
        const date1 = new Date(this.selectedDates[0])
        const date2 = new Date(this.selectedDates[1])
        const timeDiff = date2.getTime() - date1.getTime()

        if (timeDiff > 0) {
          days = Math.round(timeDiff / (1000 * 3600 * 24))
        }
      }

      return days
    },

    selectedDatesText() {
      if (this.isDatesSelected) {
        const dateFrom = this.$moment(new Date(this.selectedDates[0])).format('DD.MM.YY')
        const dateTo = this.$moment(new Date(this.selectedDates[1])).format('DD.MM.YY')

        return `${dateFrom} - ${dateTo}`
      }

      return ''
    },

    isDatesSelected() {
      return !!(this.selectedDates[0] && this.selectedDates[1])
    },

    //Данные для селектора "Источник сделки"
    bookingSourcesItems() {
      return this.bookingSources.map((item) => {
        return {
          text: item.name,
          value: item.id,
        }
      })
    },

    //Данные для селектора "Способ оплаты"
    paymentMethodsItems() {
      return this.paymentMethods.map((item) => {
        return {
          text: item.name,
          value: item.id,
        }
      })
    },

    //Данные для селектора "Апартамент"
    apartmentsItems() {
      return this.apartments.map((item) => {
        return this.buildApartmentItemData(item)
      })
    },

    //Данные для селектора "Арендатор"
    rentersItems() {
      return this.renters.map((item) => {
        return this.buildRenterItemData(item)
      })
    },

    //Расчёт прибыли собственника
    ownerProfit() {
      let profit = 0

      if (this.booking.period_price) {
        profit += this.booking.period_price - this.serviceIncome - this.cleaningsCost
      }

      return parseFloat(profit.toFixed(2))
    },

    //Расчёт прибыли сервисного агента
    serviceIncome() {
      const booking = this.booking
      let income = 0

      if (booking.period_price && booking.service_agent_percent) {
        income = booking.period_price * booking.service_agent_percent / 100
      }

      return parseFloat(income.toFixed(2))
    },

    //Расчёт стоимости уборок
    cleaningsCost() {
      const booking = this.booking
      let cost = 0

      if (booking.cleanings_count && booking.cleaning_price) {
        cost = booking.cleanings_count * booking.cleaning_price
      }

      return parseFloat(cost.toFixed(2))
    },
  },

  methods: {
    ...mapActions('bookings', ['getItems', 'create', 'update']),
    ...mapActions('apartments', ['getApartments']),
    ...mapActions('renters', ['getRenters']),

    //Показывает datepicker
    showDatepicker() {
      //Без таймаута не показывает иногда
      setTimeout(() => {
        this.datepicker = true
      }, 0)
    },

    //Выбраны даты в календаре
    handleDatepickerChange() {
      this.datepicker = false
      this.setBookingDates(this.selectedDates[0], this.selectedDates[1])
      this.getAvailableApartments()
      this.setCleaningsCount()
    },

    resetDatesAndApartment() {
      this.selectedDates = []
      this.selectedApartment = []
      this.apartments = []
      this.booking.apartment_id = null
    },

    //Открытие / закрытие модального окна
    handleDialogToggle(dialogShown) {

      if (dialogShown) {

        //Обрабатываем props если есть, ставим выбранный апартамент и даты
        if (this.apartmentProp && (this.datesProp && this.datesProp[0] && this.datesProp[1])) {
          this.setApartmentData(this.apartmentProp)
          this.setDatepickerAndBookingDates(this.datesProp[0], this.datesProp[1])
        }

        //Если есть id брони то подгружаем данные для формы
        else if (this.item.id) {
          Object.assign(this.booking, this.item)

          this.setDatepickerAndBookingDates(this.item.date_from, this.item.date_to)
          this.setApartmentData(this.item.apartment, false)

          if (this.booking.renter && this.booking.renter.phone) {
            this.selectedRenter = this.buildRenterItemData(this.booking.renter)
          }
        }

      } else {
        //Закрываем диалог, сбрасываем данные
        setTimeout(() => {
          this.resetDatesAndApartment()
          this.booking = defaultState().item
          this.item = defaultState().item
          this.selectedRenter = null
          this.renterSearchInput = ''
        }, 50)
      }
    },

    setApartmentData(apartment, updatePrices = true) {
      this.apartments = [apartment]
      this.selectedApartment = this.buildApartmentItemData(apartment)

      this.handleApartmentChange(apartment, updatePrices)
    },

    handleApartmentChange(apartment, updatePrices = true) {
      this.booking.apartment_id = apartment.id

      if (updatePrices) {
        this.booking.day_price = apartment.price
        this.booking.period_price = this.datesDaysCount * apartment.price
      }
    },

    setBookingRenterPhone(data) {
      if (data instanceof Object) {
        this.booking.phone = data.phone
      } else {
        this.booking.phone = data
      }
    },

    setDatepickerAndBookingDates(dateFrom, dateTo) {
      this.selectedDates = [dateFrom, dateTo]
      this.setBookingDates(dateFrom, dateTo)
    },

    setBookingDates(dateFrom, dateTo) {
      this.booking.date_from = this.$moment(new Date(dateFrom)).format('YYYY-MM-DD 14:00')
      this.booking.date_to = this.$moment(new Date(dateTo)).format('YYYY-MM-DD 12:00')
    },

    setCleaningsCount() {
      const days = this.datesDaysCount
      this.booking.cleanings_count = Math.ceil(days / 3)
    },

    calculatePeriodPrice() {
      const days = this.datesDaysCount

      this.booking.period_price = days * this.booking.day_price
    },

    //Возвращает доступные апартаменты на выбранные даты
    getAvailableApartments() {
      this.apartmentsLoading = true

      this.getApartments({
        date_from: this.selectedDates[0],
        date_to: this.selectedDates[1],
        with: 'owner',
      }).then(({ data: { data } }) => {
        this.apartments = data
      }).finally(() => {
        this.selectedApartment = {}
        this.apartmentsLoading = false
      })
    },

    searchRenters(query) {
      this.rentersLoading = true

      this.getRenters({ query }).then(({ data: { data } }) => {
        this.renters = data
      }).finally(() => {
        this.rentersLoading = false
      })
    },

    buildRenterItemData(renter) {
      let text = ''
      if (renter.last_name) text += renter.last_name + ' '
      if (renter.first_name) text += renter.first_name + ' '
      if (renter.phone) text += renter.phone

      return {
        text: text.trim(),
        value: renter.id,
        phone: renter.phone,
      }
    },

    buildApartmentItemData(item) {
      return {
        text: item.name,
        value: item.id,
        id: item.id,
        owner_id: item.owner_id,
        owner: item.owner,
        price: item.price,
      }
    },

    createOrUpdate() {
      this.formLoading = true
      this.$store.commit('bookings/SET_ITEM', this.booking)

      //Таймаут чтобы успели проставиться данные арендатора
      setTimeout(() => {
        if (this.booking.id) {
          this.update()
            .finally(() => {
              this.formLoading = false
              this.getItems()
            })
        } else {
          this.create()
            .then((e) => {
              this.$snotify.success(this.$t('bookings.created'))
              // this.editDialog = false

              const booking = e.data.data
              this.booking.id = booking.id
              this.booking.code = booking.code
            })
            .finally(() => {
              this.formLoading = false
              this.getItems()
            })
        }
      }, 100)

    },

    copyRegistrationLink() {
      let link = process.env.VUE_APP_RENTER_APP_URL + '/voucher/' + this.booking.code
      this.$copyText(link, this.$refs.link)
      this.$snotify.success(this.$t('linkCopied'))
    },
  },

  watch: {
    editDialog: function (val) {
      this.handleDialogToggle(val)
    },

    renterSearchInput: function (val) {
      if (val && val.length > 3 && this.renters.length === 0 &&
        (!this.selectedRenter || this.selectedRenter.length === 1)) {
        this.searchRenters(val)
      } else if (!val) {
        //Сбрасываем найденых арендаторов когда текст поиска обнулён или вводится новый
        this.renters = []
        this.selectedRenter = null
      } else if (val.length === 1) {
        this.renters = []
        this.selectedRenter = val
      }

    },

  },

}
</script>
