<template>
	
	<v-dialog
		v-if="item.id"
		v-model="viewDialog"
		@input="v => v || closeDialog()"
		max-width="600px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
	>
		<v-card tile flat class="d-flex flex-column" height="100%">
			<v-overlay :value="itemLoading" :absolute="true">
				<v-progress-circular
					:size="100"
					color="white"
					indeterminate
				></v-progress-circular>
			</v-overlay>
			
			<v-card-title class="headline">{{$t('booking')}} №{{item.id}}</v-card-title>
			
			<v-card-text class="body-1 text--primary mt-3">
				<div>{{$t('apartment')}}: {{item.apartment ? item.apartment.name : ''}}</div>
				<div>{{$t('renter')}}: <span v-html="renter"></span>
					<v-icon class="ml-1"
						v-if="item.renter && item.renter.id" :title="$t('show')"
						@click="showRenterEditDialog(item.renter)">{{$vuetify.icons.values.eye}}
					</v-icon>
				</div>
				
				<div>{{$t('bookings.date_in')}}: {{item.date_from | moment('DD.MM.YY HH:mm')}}</div>
				<div>{{$t('bookings.date_out')}}: {{item.date_to | moment('DD.MM.YY HH:mm')}}</div>
				<v-divider class="my-2"/>
				
				<!--Цена за период-->
				<div>{{$t('bookings.day_price')}}: {{item.day_price}} {{$t('rub')}}</div>
				
				<v-row justify="space-between" no-gutters class="mb-0">
					<v-col cols="auto">
						{{$t('bookings.period_price')}}: {{item.period_price}} {{$t('rub')}}
					</v-col>
					
					<!--Статус оплаты периода проживания-->
					<v-col v-if="item.period_order" class="ml-1">
						<v-tooltip right>
							<template v-slot:activator="{ on, attrs }">
								<span v-bind="attrs" v-on="on">
									<v-icon color="green" v-if="paymentOrderCompleted(item.period_order)">
										{{$vuetify.icons.values.check}}
									</v-icon>
									<v-icon v-else>{{$vuetify.icons.values.time}}</v-icon>
								</span>
							</template>
							
							<!--Операции-->
							<div v-if="item.period_order.operations.length">
								<div
									v-for="{created_at, full_description,id} in item.period_order.operations"
									:key="id">
									<span v-text="created_at"/> <span v-html="full_description"/>
								</div>
							</div>
							<span v-else>{{$t('bookings.pay_wait')}}</span>
						</v-tooltip>
						
						<!--Ссылка на оплату-->
						<a class="ml-2" target="_blank"
							v-if="item.period_order.payment_url && !paymentOrderCompleted(item.period_order)"
							:href="item.period_order.payment_url" v-text="$t('payment_link')"/>
						
						<a class="ml-2"
							target="_blank"
							v-if="item.period_order.receipt && item.period_order.receipt.url"
							:href="item.period_order.receipt.url"
							v-text="$t('receipt')"/>
					</v-col>
				</v-row>
				
				<!--Депозит-->
				<v-row justify="space-between" class="mt-0" no-gutters v-if="item.deposit > 0">
					<v-col cols="auto">
						{{$t('bookings.deposit')}}: {{item.deposit ? item.deposit : 0}}
						{{$t('rub')}}
					</v-col>
					
					<!--Статус оплаты депозита-->
					<v-col v-if="item.deposit_order" class="ml-1">
						<v-tooltip right>
							<template v-slot:activator="{ on, attrs }">
								<span v-bind="attrs" v-on="on">
									<v-icon color="green" v-if="paymentOrderCompleted(item.deposit_order)">
											{{$vuetify.icons.values.check}}
									</v-icon>
									<v-icon v-else>{{$vuetify.icons.values.time}}</v-icon>
								</span>
							</template>
							
							<!--Операции-->
							<div v-if="item.deposit_order.operations.length">
								<div
									v-for="{created_at, full_description,id} in item.deposit_order.operations"
									:key="id">
									<span>{{created_at}}</span> <span v-html="full_description"/>
								</div>
							</div>
							<span v-else>{{$t('bookings.pay_wait')}}</span>
						</v-tooltip>
						
						<!--Ссылка на оплату-->
						<a class="ml-2" target="_blank" :href="item.deposit_order.payment_url"
							v-if="item.deposit_order.payment_url && !paymentOrderCompleted(item.deposit_order)"
							v-text="$t('payment_link')"
						/>
					</v-col>
				</v-row>
				
				<v-row justify="space-between" class="mt-0">
					<!--Способ оплаты-->
					<v-col cols="auto">
						{{$t('bookings.payment_method')}}: {{item.payment_method_title}}
					</v-col>
					
					<!--Кнопка Принять оплату для ручных типов оплат-->
					<v-col cols="auto" align-self="end" v-if="item.payment_method_id == PAYMENT_INVOICE">
						<v-tooltip bottom max-width="300px">
							<template v-slot:activator="{ on, attrs }">
								<v-icon color="primary" v-bind="attrs" v-on="on" class="mr-1">
									{{$vuetify.icons.values.info}}
								</v-icon>
							</template>
							<span>{{$t('bookings.confirm_payment_desc')}}</span>
						</v-tooltip>
						<v-btn
							:disabled="!canSetPaid(item)"
							@click="acceptPayment"
							small outlined color="success">Принять оплату
						</v-btn>
					</v-col>
				</v-row>
				
				<v-divider class="my-2"/>
				<div>{{$t('bookings.cleanings_count')}}: {{item.cleanings_count}}</div>
				<div>{{$t('bookings.cleaning_price')}}: {{item.cleaning_price}} {{$t('rub')}}</div>
				
				<v-divider class="my-2"/>
				<!--Процент сервисного агента и информация по деньгам-->
				<div>{{$t('bookings.service_agent_percent')}}: {{item.service_agent_percent}}%
					<v-tooltip right>
						<template v-slot:activator="{ on, attrs }">
							<v-icon color="primary"
								v-bind="attrs"
								v-on="on">{{$vuetify.icons.values.info}}
							</v-icon>
						</template>
						
						<div>Расход на уборки: {{item.cleanings_total_price}} {{$t('rub')}}</div>
						<div>Доход сервисного агента: {{item.service_agent_profit}}
							{{$t('rub')}} ({{item.service_agent_percent}}%)
						</div>
						<div>Доход собственника: {{item.owner_profit}} {{$t('rub')}}</div>
					</v-tooltip>
				</div>
				<div>{{$t('bookings.source')}}: {{item.source ? item.source.name : ''}}</div>
				<div v-if="item.description">
					{{$t('bookings.description')}}: {{item.description}}
				</div>
				<v-divider class="my-2"/>
				
				<div>{{$t('bookings.status')}}: {{item.status_title}}</div>
				<div ref="link">
					<a href="#"
						@click="copyRegistrationLink()">{{$t('bookings.copy_registration_link')}}</a>
				</div>
				
				<div><a href="#" @click="downloadBookingOrder">{{$t('bookings.download_order')}}</a></div>
			</v-card-text>
			
			<v-card-actions class="mt-auto">
				
				
				<v-btn
					color="success"
					outlined
					v-if="item.status == BOOKING_PAID"
					@click="completeBooking"
				>
					{{$t('bookings.complete')}}
				</v-btn>
				<v-btn
					color="primary"
					outlined
					v-if="item.status < BOOKING_PAID"
					@click="cancelBooking"
				>
					{{$t('bookings.cancel')}}
				</v-btn>
				<v-spacer/>
				<v-btn text @click="closeDialog">
					{{$t('close')}}
				</v-btn>
			
			
			</v-card-actions>
		
		</v-card>
		<renter-edit-dialog/>
	
	
	</v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import defaultState from '@/store/bookings/state'
import RenterEditDialog from '@/components/renters/RenterEditDialog'
import { buildName } from '@/utils/attributeBuilders'
import { PAYMENT_INVOICE } from '@/utils/types/payment_method'
import { BOOKING_BOOKED, BOOKING_PAID, BOOKING_REGISTERED } from '@/utils/types/booking_status'
import { PAYMENT_ORDER_PAID, PAYMENT_ORDER_REFUNDED } from '@/utils/types/payment_order_status'

export default {
	components: { RenterEditDialog },

	data: () => ({
		BOOKING_PAID,
		BOOKING_REGISTERED,
		BOOKING_BOOKED,
		PAYMENT_ORDER_PAID,
		PAYMENT_ORDER_REFUNDED,
		PAYMENT_INVOICE,
	}),

	computed: {
		...mapFields('bookings', ['viewDialog', 'itemLoading', 'item']),
		...mapFields('renters', { renterEditDialog: 'editDialog' }),

		renter () {
			if (this.item.renter) {
				const { last_name, first_name, phone } = this.item.renter
				let text = buildName(last_name, first_name)

				if (phone) {
					text += ` <a href="tel:${phone}">${phone}</a> `
				}
				return text.trim()
			}

			return ''
		},
	},

	methods: {
		...mapActions('bookings', ['setCancelled', 'setPaid', 'downloadOrder', 'complete']),

		paymentOrderCompleted (order) {
			return order.status === PAYMENT_ORDER_PAID
				|| order.status === PAYMENT_ORDER_REFUNDED
		},

		closeDialog () {
			this.viewDialog = false

			const commit = this.$store.commit
			setTimeout(function () {
				commit('bookings/SET_ITEM', defaultState().item)
			}, 300)
		},

		cancelBooking () {
			this.$confirm({
				title: this.$t('bookings.cancellation'),
				message: this.$t('confirmation'),
				onConfirm: () => this.setCancelled(this.item),
			})
		},

		completeBooking () {
			if (this.item.deposit && this.item.deposit > 0) {

				this.$confirm({
					title: this.$t('bookings.complete_title'),
					message: this.$t('bookings.completion_return'),
					input: {
						label: this.$t('bookings.return_amount'),
						type: 'number',
						value: this.item.deposit,
						max: this.item.deposit,
						min: 0,
					},
					onConfirm: (hold_return_amount) => this.complete({
						item: this.item,
						hold_return_amount,
					}),
				})

			} else {
				this.$confirm({
					title: this.$t('bookings.complete_title'),
					message: this.$t('bookings.completion'),
					onConfirm: () => this.complete({ item: this.item }),
				})
			}
		},

		acceptPayment () {
			this.$confirm({
				title: this.$t('bookings.acceptPayment'),
				message: this.$t('bookings.acceptPaymentConfirmation'),
				onConfirm: () => this.setPaid(this.item),
			})
		},

		downloadBookingOrder () {
			this.downloadOrder(this.item)
		},

		showRenterEditDialog (item) {
			this.$store.commit('renters/SET_ITEM', item)
			this.renterEditDialog = true
		},

		canSetPaid (item) {
			return item.status === BOOKING_REGISTERED && item.payment_method_id === PAYMENT_INVOICE
		},

		copyRegistrationLink () {
			let link = process.env.VUE_APP_RENTER_APP_URL + '/voucher/' + this.item.code
			this.$copyText(link, this.$refs.link)
			this.$snotify.success(this.$t('linkCopied'))
		},
	},
}
</script>

<style scoped>
</style>
