<template>
	<v-dialog eager @input="change"
		value="true"
		:max-width="width"
		:persistent="persistent"
		@keydown.esc="choose(false)">
		<v-card tile>
			<v-card-title v-if="Boolean(title)" :color="color" dense flat>
				{{title}}
			</v-card-title>
			
			<v-card-text class="body-1 text--primary text-body-1 py-3">
				<span v-if="message" v-html="message"/>
				
				<template v-if="hasInput">
					
					<v-textarea auto-grow :class="message ? 'mt-4' : 'mt-0'" v-if="input.type === 'textarea'"
						v-model="input.value" v-bind="input"/>
					<v-text-field :class="message ? 'mt-4' : 'mt-0'" v-else v-model="input.value"
						v-bind="input" autocomplete="off"/>
				</template>
			</v-card-text>
			
			<v-card-actions>
				<v-btn
					class="text--primary"
					v-if="Boolean(buttonFalseText)"
					:color="buttonFalseColor"
					:text="buttonFalseFlat"
					outlined
					@click="choose(false)"
				>
					{{ buttonFalseText }}
				</v-btn>
				<v-spacer/>
				<v-btn
					v-if="Boolean(buttonTrueText)"
					:color="buttonTrueColor"
					:text="buttonTrueFlat"
					@click="choose(true)"
					:loading="loading"
				>
					{{ buttonTrueText }}
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { VBtn, VCard, VCardActions, VCardText, VDialog, VSpacer } from 'vuetify/lib'

export default {
	components: {
		VDialog,
		VCard,
		VCardActions,
		VCardText,
		VSpacer,
		VBtn,
	},
	props: {
		buttonTrueText: {
			type: String,
			default: 'Yes',
		},
		buttonFalseText: {
			type: String,
			default: 'No',
		},
		buttonTrueColor: {
			type: String,
			default: 'primary',
		},
		buttonFalseColor: {
			type: String,
			default: 'grey',
		},
		buttonFalseFlat: {
			type: Boolean,
			default: true,
		},
		buttonTrueFlat: {
			type: Boolean,
			default: true,
		},
		color: {
			type: String,
			default: 'primary',
		},
		title: {
			type: String,
		},
		message: {
			type: String,
			required: true,
		},
		input: {
			type: Object,
		},
		persistent: Boolean,
		width: {
			type: Number,
			default: 450,
		},
		onConfirm: {
			default: null,
		},

	},
	data () {
		return {
			value: false,
			loading: false,
			inputValue: null,
		}
	},
	mounted () {
		// document.addEventListener('keyup', this.onEnterPressed)
	},
	destroyed () {
		// document.removeEventListener('keyup', this.onEnterPressed)
	},
	computed: {
		hasInput () {
			return typeof this.input === 'object'
		},
	},
	methods: {
		onEnterPressed (e) {
			if (e.keyCode === 13) {
				e.stopPropagation()
				this.choose(true)
			}
		},
		choose (value) {
			this.$emit('result', value)

			this.value = value

			if (value != false && typeof this.onConfirm === 'function') {
				this.loading = true
				value = this.hasInput ? this.input.value : value

				const result = this.onConfirm(value)
				const isPromise = !!result && typeof result.then === 'function'

				if (isPromise) {
					result.finally(() => {
						this.$destroy()
					})
				} else {
					this.$destroy()
				}
			} else {
				this.$destroy()
			}
		},
		change () {
			this.$destroy()
		},
	},
}
</script>
