@import "fonts/roboto/roboto-fontface";
@import "notifications/simple";
@import "vue-file-agent/vue-file-agent";
@import "picture-swipe";

a {
  text-decoration: none;
  border-bottom: 1px dotted rgb(119, 119, 119);

  &.no-decoration {
    border: none !important;
    text-decoration: none;
  }
}


.line-height-icon {
  line-height: 1.8em;
}

.headline {
  word-break: keep-all;
}

.fadeInCustom {
  animation-name: fadeInCustom;
}


@keyframes fadeInCustom {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.hide-sort .v-data-table-header-mobile {
  display: none;
}
