$body-font-family: Roboto !default;
$card-subtitle-padding: 24px 24px 0px 24px !default;
$card-actions-padding: 16px 24px 24px 24px !default;
$dialog-card-actions-padding: $card-actions-padding !default;
$dialog-card-title-padding: 16px 24px 10px !default;
$dialog-max-height: 100% !default;
