<template>
	<v-dialog
		v-model="editDialog"
		max-width="800px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
		@input="v => v || onDialogClose()"
	>
		<v-card>
			<v-overlay :value="itemLoading" :absolute="true">
				<v-progress-circular
					:size="100"
					color="white"
					indeterminate
				></v-progress-circular>
			</v-overlay>
			
			<v-card-title><span class="headline">{{stepTitle}}</span></v-card-title>
			
			<v-card-text>
				<component @submitted="nextStep" :is="stepComponent"
					:ref="stepComponent"></component>
			</v-card-text>
			
			<v-card-actions>
				<v-btn text v-if="currentStep === 1" @click="editDialog = false">
					{{$t('cancel')}}
				</v-btn>
				<v-btn v-else text @click="currentStep--">
					{{$t('return')}}
				</v-btn>
				
				<v-spacer></v-spacer>
				<v-btn color="primary" @click="nextStep()" :disabled="formLoading"
					:loading="formLoading">
					<span v-if="currentStep === 3">{{$t('save')}}</span>
					<span v-else>{{$t('continue')}}</span>
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import Step1 from '@/components/apartments/Step1'
import Step2 from '@/components/apartments/Step2'
import Step3 from '@/components/apartments/Step3'
import defaultState from '@/store/apartments/state'

export default {
	components: {
		Step1,
		Step2,
		Step3,
	},
	data: () => ({
		currentStep: 1,
	}),
	computed: {
		...mapFields('apartments', ['editDialog', 'itemLoading', 'formLoading', 'item', 'errors']),

		stepTitle () {
			return this.$t('apartments.step' + this.currentStep)
		},
		stepComponent () {
			return 'step' + this.currentStep
		},
	},
	methods: {
		...mapActions('apartments', ['getItems', 'createApartment', 'updateApartment']),

		nextStep () {
			let canNext = false
			const step = this.$refs[this.stepComponent]

			if (this.currentStep === 1 || this.currentStep === 2) {

				if (step.$refs.form.validate()) {
					canNext = true
				}
			} else if (this.currentStep === 3) {
				this.formLoading = true

				let method = 'createApartment'

				if (this.item.id) {
					method = 'updateApartment'
				}

				this[method]().then(() => {
					this.getItems()
					this.editDialog = false
					this.formLoading = false

					this.onDialogClose()
				}).catch(() => {
					this.formLoading = false
					this.currentStep = 1
				})
			}


			if (canNext) {
				this.currentStep++
			}
		},
		
		onDialogClose () {
			if (this.item.id || this.item.name) {
				const commit = this.$store.commit

				this.errors = {}
				setTimeout(() => {
						commit('apartments/SET_ITEM', defaultState().item)
					},
					500)
				this.resetStepForm()
			}
		},
		resetStepForm () {
			this.currentStep = 1
			const step = this.$refs[this.stepComponent]

			if (step.$refs.form) {
				step.$refs.form.resetValidation()
			}
		},
	},
}
</script>

<style scoped>
</style>
