<template>
	<div>
		<v-form ref="form">
			<v-row no-gutters>
				<v-col cols="12" sm="6" class="pr-md-10 pr-sm-8 pb-0">
					<v-text-field
						name="name"
						v-model="item.name"
						autocomplete="off"
						:label="$t('apartments.name')"
						:rules="[v => !!v]"
						:error-messages="errors.name"
						@focus="errors.name = null"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				<v-col>
					<v-textarea
						v-model="item.address"
						name="address"
						:placeholder="$t('apartments.address_placeholder')"
						autocomplete="off"
						rows="1"
						no-resize
						auto-grow
						:label="$t('apartments.address')"
						:loading="formLoading"
						:disabled="formLoading"
						:rules="[v => !!v]"
						validate-on-blur
						:error-messages="errors.address"
						@focus="errors.address = null"
						@change="handleAddressChange"
						required
					></v-textarea>
				</v-col>
			</v-row>
			<v-row dense>
				<v-col class="pr-md-10 pr-sm-8">
					<v-text-field
						name="entrance"
						v-model="item.entrance"
						autocomplete="off"
						:label="$t('apartments.entrance')"
						:rules="[v => !!v]"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col class="pr-md-10 pr-sm-8">
					<v-text-field
						name="number"
						v-model="item.number"
						autocomplete="off"
						:label="$t('apartments.apartment_number')"
						:rules="[v => !!v]"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				<v-col cols="3">
					<v-text-field
						name="floor"
						type="number"
						v-model="item.floor"
						:label="$t('apartments.floor')"
						autocomplete="off"
						:rules="[v => !!v]"
						@keyup.enter="$emit('submitted')"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
			</v-row>
		</v-form>
		
		<div class="mt-8 mb-2 elevation-4" :class="[{loading: formLoading}]" disabled>
			<yandex-map style="height: 280px;" :coords="coords" :center="coords" :zoom="zoom"
				:controls="['fullscreenControl']"
				@click="handleMapClick">
				<ymap-marker marker-id="1" :coords="coords"/>
			</yandex-map>
		</div>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'

export default {
	name: 'Step1',
	data: () => ({
		zoom: 13,
	}),
	methods: {
		...mapActions('apartments', ['getAddressCoords', 'getCoordsAddress']),
		handleAddressChange () {
			if (this.item.address.length > 5) {
				this.getAddressCoords(this.item.address)
			}
		},
		handleMapClick (e) {
			const coords = e.get('coords')

			this.getCoordsAddress({
				lat: coords[0],
				lon: coords[1],
			})
		},
	},
	computed: {
		...mapFields('apartments', ['formLoading', 'item', 'errors']),
		coords () {
			return [this.item.lat, this.item.lon]
		},
	},
}
</script>

<style scoped>
.map-holder {
	border-radius: 10px;
	overflow: hidden;
}

.loading {
	opacity: 0.5;
}
</style>
