<template>
	<div>
		<v-form ref="form" @submit.prevent="$emit('submitted')">
			<ImageFileAgent
				ref="fileAgent"
				:deletable="true"
				:meta="false"
				:accept="'image/*'"
				:maxSize="'5MB'"
				:maxFiles="99"
				:helpText="$t('selectImages')"
				:sortable="true"
				v-model="item.images"
				@select="onSelect($event)"
				@beforedelete="onBeforeDelete($event)"
			>
			</ImageFileAgent>
			<input type="submit" class="d-none"/>
		</v-form>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import ImageFileAgent from '@/components/uploader/ImageFileAgent'

export default {
	components: {
		ImageFileAgent,
	},
	computed: {
		...mapState('auth', ['token']),
		...mapFields('apartments', ['item']),
	},
	methods: {
		...mapActions('apartments', ['uploadImage', 'deleteImage']),
		onSelect (files) {
			files.forEach((file) => {
				file.progress(1)
				this.uploadImage(file.file).then(id => {
					file.id = id
					file.uploaded = true
					file.progress(100)
				}).catch(() => {
					setTimeout(() => {
						this.$refs.fileAgent.deleteFileRecord(file)
					}, 3000)
				})
			})
		},
		onBeforeDelete (file) {
			if (file.id) {
				this.deleteImage(file.id)
			}

			this.$refs.fileAgent.deleteFileRecord(file)
		},
	},
}
</script>

