<template>
	<div>
		<v-form ref="form">
			<v-row>
				<v-col>
					<v-textarea v-model="item.description"
						:placeholder="$t('apartments.description_placeholder')"
						:label="$t('apartments.description')"
						:rows="1"
						auto-grow>
					</v-textarea>
				</v-col>
			</v-row>
			<v-row>
				<v-col cols="6" sm="4" class="pr-md-10 pr-sm-8">
					<v-text-field
						name="guests"
						v-model="item.guests"
						type="number"
						min="1"
						autocomplete="off"
						:label="$t('apartments.guests')"
						:rules="[v => !!v]"
						:error-messages="errors.guests"
						@focus="errors.guests = null"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col cols="6" sm="4" class="pr-md-10 pr-sm-8">
					<v-text-field
						name="square"
						type="number"
						v-model="item.square"
						:label="$t('apartments.square')"
						autocomplete="off"
						:rules="[v => !!v]"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col cols="6" sm="4">
					<v-text-field
						name="price"
						type="number"
						v-model="item.price"
						:error-messages="errors.price"
						@focus="errors.price = null"
						autocomplete="off"
						:label="$t('apartments.price')"
						:rules="[v => !!v]"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col cols="12" class="py-0"></v-col>
				
				<v-col cols="6" sm="3" class="pr-md-10 pr-sm-8">
					<v-text-field
						name="wifi_name"
						v-model="item.wifi_name"
						type="text"
						autocomplete="off"
						:label="$t('apartments.wifi_name')"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col cols="6" sm="3" class="pr-md-10 pr-sm-8">
					<v-text-field
						name="wifi_password"
						type="text"
						v-model="item.wifi_password"
						:label="$t('apartments.wifi_password')"
						autocomplete="off"
						validate-on-blur
						required
					></v-text-field>
				</v-col>
				
				<v-col cols="12" sm="6">
					<v-select
						v-model="item.owner_id"
						:items="owners"
						:label="$t('apartments.owner')">
					</v-select>
				</v-col>
			</v-row>
			<v-row>
			
			</v-row>
			<v-row>
				<v-col cols="12">
					<v-select
						v-model="item.comfort"
						:items="comfortItems"
						:label="$t('apartments.comfort')"
						multiple>
					</v-select>
				</v-col>
			</v-row>
		</v-form>
	</div>
</template>

<script>
import { mapFields } from 'vuex-map-fields'
import { mapGetters } from 'vuex'
import {
    mdiAirConditioner,
    mdiBedKingOutline,
    mdiCity,
    mdiDishwasher,
    mdiElevator,
    mdiMicrowave,
    mdiParking,
    mdiRadiator,
    mdiRemoteTv,
    mdiSafe,
    mdiSnowflake,
    mdiWashingMachine,
    mdiWifi,
} from '@mdi/js'

export default {
	data: () => ({
		comfortItems: [
			{ text: 'parking', value: 'parking', icon: mdiParking },
			{ text: 'balcony', value: 'balcony', icon: mdiCity },
			{ text: 'wifi', value: 'wifi', icon: mdiWifi },
			{ text: 'tv', value: 'tv', icon: mdiRemoteTv },
			{ text: 'doublebed', value: 'doublebed', icon: mdiBedKingOutline },
			{ text: 'safe', value: 'safe', icon: mdiSafe },
			{ text: 'radiator', value: 'radiator', icon: mdiRadiator },
			{ text: 'conditioner', value: 'conditioner', icon: mdiAirConditioner },
			{ text: 'freezer', value: 'freezer', icon: mdiSnowflake },
			{ text: 'microwave', value: 'microwave', icon: mdiMicrowave },
			{ text: 'drishwasher', value: 'drishwasher', icon: mdiDishwasher },
			{ text: 'washer', value: 'washer', icon: mdiWashingMachine },
			{
				text: 'iron',
				value: 'iron',
				icon: 'M 19.5 8.5 H 12 C 6 8.5 3 14.5 3 20.5 H 21 L 19 3.5 H 8',
			},
			{ text: 'elevator', value: 'elevator', icon: mdiElevator },
		],
	}),
	computed: {
		...mapFields('apartments', ['item', 'errors']),
		...mapGetters('owners', { ownersRecords: 'items' }),

		owners () {
			return this.ownersRecords.map(owner => {
				return {
					text: `${owner.last_name} ${owner.first_name} ${owner.middle_name}`,
					value: owner.id,
				}
			})
			/*this.owners.map(owner => {
				 return {
						 text: owner.first_name,
						 value: owner.id,
				 }
		 })*/
		},
	},
	created () {
		this.comfortItems.forEach((v, k) => {
			this.comfortItems[k].text = this.$t('apartments.' + v.text)
		})
	},
}
</script>
