<template>
	
	<div class="d-flex flex-column align-center">
		<the-auth-header-logo></the-auth-header-logo>
		<router-view></router-view>
	</div>
</template>
<script>
import TheAuthHeaderLogo from './parts/TheAuthHeaderLogo'

export default {
	components: {
		TheAuthHeaderLogo,
	},
}

</script>
<style lang="scss" scoped>
.login-form {
	&__fail-alert {
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
	}
	
	&__wrapper {
		height: 100vh;
		width: 100%;
	}
	
	&__form {
		width: 300px;
	}
	
	&__logo {
		width: 100%;
		height: auto;
	}
}
</style>
