<template>
	<div class="overflow-auto">
		<the-app-bar/>
		<the-left-menu/>
		<v-main>
			<v-container fluid>
				<slot/>
			</v-container>
		</v-main>
	</div>
</template>

<script>
import TheLeftMenu from '@/components/layouts/parts/TheLeftMenu'
import TheAppBar from '@/components/layouts/parts/TheAppBar'

export default {
	components: {
		TheLeftMenu,
		TheAppBar,
	},
	data: () => ({
		icons: {},
	}),
}
</script>

<style lang="scss" scoped>
</style>
