<template>
	<div>
		
		<edit-dialog/>
		
		<booking-edit-dialog
			@created="clearDates"
			:apartment-prop="apartment"
			:dates-prop="dates"/>
		
		<div class="text-sm-left text-right mb-5">
			
			<v-btn
				color="primary"
				dark
				class="mb-2"
				@click="showEditDialog()"
			>
				{{$t('apartments.create')}}
			</v-btn>
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
			disable-sort
		>
			
			<template v-slot:top>
				<v-row>
					
					<v-col cols="12" md="3" class="mb-0 pb-0">
						<v-menu
							v-model="datePickerShown"
							:close-on-content-click="false"
							:transition="false"
							offset-y
							max-width="500px"
						>
							<template v-slot:activator="{}">
								<v-text-field
									class="ml-4 mr-4 mr-sm-0"
									v-model="dateRangeText"
									:prepend-inner-icon="$vuetify.icons.values.calendar"
									:append-icon="datesSelected ? $vuetify.icons.values.close : ''"
									@mouseup="showDatePicker"
									@click:append="datesSelected ? clearDates() : null"
									:placeholder="$t('apartments.availableForDates')"
									readonly
								></v-text-field>
							</template>
							
							<v-date-picker
								v-model="dates"
								range
								no-title
								@change="getApartmentsForDates"
								:min="$moment().format('YYYY-MM-DD')"
							></v-date-picker>
						</v-menu>
					
					</v-col>
					
					<v-col cols="12" md="9" class="mb-0 pb-0 pt-0 pt-sm-3">
						
						<v-text-field
							class="mx-4"
							v-model="search"
							:label="$t('search') + ' (название, адрес)'"
						></v-text-field>
					</v-col>
				</v-row>
			</template>
			
			<template v-slot:item.actions="{ item }">
				<div class="text-right">
					
					<template v-if="!datesSelected">
						<v-icon
							:title="$t('edit')"
							class="mr-2"
							color="primary"
							@click="showEditDialog(item)"
						>
							{{ $vuetify.icons.values.edit }}
						</v-icon>
						
						
						<v-icon
							v-if="item.contract_id"
							color="primary"
							:title="$t('owners_contracts.contract')"
							class="mr-2"
							@click="goToContract(item.contract_id)"
						>
							{{ $vuetify.icons.values.document }}
						</v-icon>
						
						<v-icon
							:title="$t('delete')"
							class="mr-2"
							color="primary"
							@click="removeItem(item)"
						>
							{{ $vuetify.icons.values.trash }}
						</v-icon>
					</template>
					
					<v-icon v-if="datesSelected"
						@click="showBookingEditDialog(item)"
						color="primary"
						large
						:title="$t('register')">
						{{$vuetify.icons.values.next}}
					</v-icon>
				</div>
			</template>
			<template v-slot:item.total_price="{ item }">
				{{item.period_price}} {{$t('rub')}}
			</template>
			<template v-slot:item.price="{ item }">
				{{item.price}} {{$t('rub')}}
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { hasRole } from '@/utils/permissions'
import EditDialog from '@/components/apartments/ApartmentEditDialog'
import BookingEditDialog from '@/components/bookings/BookingEditDialog'

export default {
	components: { BookingEditDialog, EditDialog },
	data: () => ({
		isMainAdmin: hasRole('main administrator'),
		search: '',
		dates: [],
		apartment: {},
		datePickerShown: false,
	}),
	computed: {
		...mapFields('apartments', ['editDialog', 'items', 'loading']),
		...mapFields('bookings', { bookingEditDialog: 'editDialog' }),

		headers () {
			let data = [
				{ text: 'Название', value: 'name', filter: this.searchFilter },
				{ text: 'Адрес', value: 'address' },
				{ text: 'Цена за сутки', value: 'price' },
			]

			if (this.datesSelected) {
				data.push({ text: 'Итого', value: 'total_price' })
			}

			data.push({ text: '', value: 'actions' })

			return data
		},
		dateRangeText () {
			if (!this.datesSelected) return null
			const firstDate = this.$moment(new Date(this.dates[0])).format('DD.MM.YY')
			const secondDate = this.$moment(new Date(this.dates[1])).format('DD.MM.YY')
			return `${firstDate} - ${secondDate}`
		},
		datesSelected () {
			return this.dates.length > 1
		},
	},

	methods: {
		...mapActions('apartments',
			['setLoading', 'getItems', 'getItem', 'reset', 'remove', 'getAddressCoords'],
		),
		getApartmentsForDates () {
			this.getItems({
				date_from: this.dates[0],
				date_to: this.dates[1],
				with: 'owner',
			})
			this.hideDatePicker()
		},
		
		clearDates () {
			// this.getItems()
			this.dates = []
		},
		
		showDatePicker () {
			//Без таймаута не показывает иногда
			setTimeout(() => {
				this.datePickerShown = true
			}, 0)
		},
		hideDatePicker () {
			this.datePickerShown = false
		},
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.name }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
		getFullName (item) {
			return `${item.last_name} ${item.first_name} ${item.middle_name}`
		},
		showEditDialog (item = null) {
			this.editDialog = true

			if (item) {
				if ((!item.lat || !item.lon) && item.address) {
					this.getAddressCoords(item.address)
				}
				this.$store.commit('apartments/SET_ITEM', item)
			}

		},
		searchFilter (value, header, item) {
			if (this.$route.query.id && this.$route.query.id != item.id) {
				return false
			}

			if (!this.search) {
				return true
			}

			const values = [
				item.name,
				item.address,
			]

			return values.some(v => v && v.toString().toLowerCase().includes(this.search.toLowerCase()))
		},
		goToContract (contract_id) {
			this.$router.push({ name: 'owners_contracts', query: { id: contract_id } })
		},
		showBookingEditDialog (item) {
			this.apartment = item
			this.bookingEditDialog = true
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>
