<template>
	<div>
		<h3>AIR CHECK-IN</h3>
		<a href="https://drive.google.com/drive/folders/148a023gqUszvH479iHx4QqSBFodynXyD?usp=sharing"
			target="_blank">Документация проекта</a>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
    computed: {
        ...mapState('auth', ['token', 'user']),
    },
    mounted() {

    },
}
</script>

<style scoped>

</style>
