<template>
	<div>
		<div class="text-sm-left text-right mb-2">
			<invite-dialog/>
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4 hide-sort"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
			disable-sort
			hide-default-footer
		>
			<template v-slot:item.name="{ item }">
				<span>{{ getFullName(item) }}</span>
			</template>
			
			<template v-slot:item.actions="{ item }" v-if="isMainAdmin">
				<div class="text-right">
					<v-menu offset-y>
						<template v-slot:activator="{ on, attrs }">
							<v-btn
								text
								v-bind="attrs"
								v-on="on"
							>
								<v-icon color="primary">{{$vuetify.icons.values.verticalDots}}
								</v-icon>
							</v-btn>
						</template>
						<v-list>
							<v-list-item link @click="showNotifications(item)">
								<v-list-item-title>
									<v-icon
										:title="$t('notifications')"
										color="primary"
									>
										{{ $vuetify.icons.values.message }}
									</v-icon>
									{{$t('notifications')}}
								</v-list-item-title>
							</v-list-item>
							
							<v-list-item link @click="showReports(item)">
								<v-list-item-title>
									<v-icon
										:title="$t('reports')"
										color="primary"
									>
										{{ $vuetify.icons.values.document }}
									</v-icon>
									{{$t('reports')}}
								</v-list-item-title>
							</v-list-item>
							
							<v-list-item link @click="removeItem(item)">
								<v-list-item-title>
									<v-icon
										:title="$t('delete')"
										color="primary"
									>
										{{ $vuetify.icons.values.trash }}
									</v-icon>
									{{$t('delete')}}
								</v-list-item-title>
							</v-list-item>
						</v-list>
					</v-menu>
				
				
				</div>
			</template>
		</v-data-table>
		
		<reports-dialog :owner-id="reportsDialogOwnerId"/>
		<notifications-dialog :owner-id="notificationsDialogOwnerId"/>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import InviteDialog from '@/components/owners/OwnerInviteDialog'
import ReportsDialog from '@/components/owners/OwnerReportsDialog'
import NotificationsDialog from '@/components/owners/OwnerNotificationsDialog'
import { hasRole } from '@/utils/permissions'
import { buildName } from '@/utils/attributeBuilders'

export default {
	components: { InviteDialog, ReportsDialog, NotificationsDialog },
	data: () => ({
		isMainAdmin: hasRole('main administrator'),
		headers: [{ text: 'Имя', value: 'name' },
			{ text: 'E-mail', value: 'email' },
			{ text: 'Телефон', value: 'phone' },
			{ text: '', value: 'actions' },
		],
		reportsDialogOwnerId: null,
		notificationsDialogOwnerId: null,
	}),
	computed: {
		...mapGetters('owners', ['items', 'loading']),
		...mapFields('owners', ['reportsDialog', 'notificationsDialog']),
	},
	methods: {
		...mapActions('owners', ['setLoading', 'getItems', 'reset', 'remove']),
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.email }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
		showReports (item) {
			this.reportsDialog = true
			this.reportsDialogOwnerId = item.id
		},
		showNotifications (item) {
			this.notificationsDialog = true
			this.notificationsDialogOwnerId = item.id
		},
		getFullName (item) {
			return buildName(item.last_name, item.first_name, item.middle_name)
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>
