<template>
	<div>
		
		<owner-contract-view-dialog/>
		
		<div class="text-sm-left text-right mb-2">
		
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
			sort-by="updated_at"
			sort-desc
		>
			<template v-slot:top>
				<v-row class="mx-2">
					<v-col cols="12" sm="5" md="3" class="mb-0 pb-0">
						
						<v-select
							v-model="statusFilter"
							:label="$t('status')"
							:items="statusFilterItems"
							y
						>
						</v-select>
					</v-col>
					<v-col class="pt-0 pt-sm-3">
						<v-text-field
							v-model="search"
							:label="$t('search')"
						></v-text-field>
					</v-col>
				</v-row>
			</template>
			
			<template v-slot:item.address="{ item }">
				<span>{{ getAddress(item) }}</span>
			</template>
			
			<template v-slot:item.ownerName="{ item }">
				<span>{{ getOwnerName(item.owner) }}</span>
			</template>
			
			<template v-slot:item.actions="{ item }">
				<div class="text-right">
					<v-icon
						:title="$t('edit')"
						class="mr-2"
						color="primary"
						@click="showEditDialog(item)"
					>
						{{ item.status === verification_status ? $vuetify.icons.values.edit :
						$vuetify.icons.values.eye }}
					</v-icon>
					<v-icon
						:title="$t('apartments.apartment')"
						class="mr-2"
						color="primary"
						v-if="item.apartment_id"
						@click="goToApartment(item.apartment_id)"
					>
						{{ $vuetify.icons.values.home }}
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import OwnerContractViewDialog from '@/components/owners_contracts/OwnerContractViewDialog'
import { buildName } from '@/utils/attributeBuilders'
import { OWNER_CONTRACT_VERIFICATION } from '@/utils/types/owner_contract_status'

export default {
	components: { OwnerContractViewDialog },
	data () {
		return {
			verification_status: OWNER_CONTRACT_VERIFICATION,
			statusFilter: 'all',
			search: '',
		}
	},
	computed: {
		...mapFields('owners_contracts', ['editDialog', 'items', 'loading']),
		...mapState('owners_contracts', ['status']),
		statusFilterItems () {
			return [
				{ text: this.$t('owners_contracts.filter.all'), value: 'all' },
				{
					text: this.$t('owners_contracts.filter.verification'),
					value: this.status.verification,
				},
				{ text: this.$t('owners_contracts.filter.declined'), value: this.status.declined },
				{ text: this.$t('owners_contracts.filter.accepted'), value: this.status.accepted },
			]
		},
		headers () {
			return [
				{
					text: 'Собственник',
					value: 'ownerName',
					filter: this.searchFilter,
					sortable: false,
				},
				{ text: 'Адрес', value: 'address', sortable: false },
				{ text: 'Статус', value: 'status_title' },
				{ text: '', value: 'actions', sortable: false },
			]
		},
	},

	methods: {
		...mapActions('owners_contracts', ['setLoading', 'getItems', 'getItem', 'reset', 'remove']),
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.name }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
		showEditDialog (item = null) {
			this.editDialog = true

			if (item) this.$store.commit('owners_contracts/SET_ITEM', item)
		},
		getAddress (item) {
			return `${item.city}, ${item.street} ${item.house}`
		},
		getOwnerName (owner) {
			return `${owner.last_name} ${owner.first_name} ${owner.middle_name}`
		},
		searchFilter (value, header, item) {
			if (this.$route.query.id && this.$route.query.id != item.id) {
				return false
			}

			if (this.statusFilter !== 'all' && item.status != this.statusFilter) {
				return false
			}

			if (!this.search) {
				return true
			}

			const values = [
				item.city,
				item.street + ' ' + item.house,
				buildName(item.owner.last_name,
					item.owner.first_name,
					item.owner.middle_name),
				item.created_at,
			]

			return values.some(v => v && v.toString().toLowerCase().includes(this.search.toLowerCase()))
		},
		goToApartment (apartment_id) {
			this.$router.push({ name: 'apartments', query: { id: apartment_id } })
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>
