<template>
	<div>
		
		<renter-edit-dialog/>
		
		<div class="text-sm-left text-right mb-2"/>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
		>
			<template v-slot:top>
				<v-row class="mx-2">
					<v-col class="">
						<v-text-field
							v-model="search"
							:label="$t('search')"
						></v-text-field>
					</v-col>
				</v-row>
			</template>
			
			<template v-slot:item.name="{ item }">
				<span>{{ getFullName(item) }}</span>
			</template>
			<template v-slot:item.actions="{ item }">
				<div class="text-right">
					
					<v-icon
						:title="$t('pages.bookings.menu')"
						class="mr-2"
						color="primary"
						@click="goToBookings(item.phone)"
					>
						{{ $vuetify.icons.values.calendar }}
					</v-icon>
					<v-icon
						:title="$t('view')"
						class="mr-2"
						color="primary"
						@click="showEditDialog(item)"
					>
						{{ $vuetify.icons.values.edit }}
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import RenterEditDialog from '@/components/renters/RenterEditDialog'
import { buildName } from '@/utils/attributeBuilders'

export default {
	components: { RenterEditDialog },

	data: () => ({
		search: '',
	}),

	computed: {
		...mapFields('renters', ['editDialog', 'items', 'loading']),
		headers () {
			return [{ text: 'Имя', value: 'name', filter: this.searchFilter, sortable: false },
				{ text: 'E-mail', value: 'email', sortable: false },
				{ text: 'Телефон', value: 'phone', sortable: false },
				{ text: '', value: 'actions', sortable: false },
			]
		},
	},

	methods: {
		...mapActions('renters', ['setLoading', 'getItems', 'getItem', 'reset', 'remove']),

		showEditDialog (item = null) {
			this.editDialog = true

			if (item) this.$store.commit('renters/SET_ITEM', item)
		},
		searchFilter (value, header, item) {
			if (this.$route.query.id && this.$route.query.id != item.id) {
				return false
			}

			if (!this.search) {
				return true
			}

			const { last_name, first_name, middle_name, phone, email } = item

			const values = [
				buildName(last_name, first_name, middle_name),
				phone,
				email,
			]

			return values.some(v => v && v.toString().toLowerCase().includes(this.search.toLowerCase()))
		},

		getFullName: (item) => buildName(item.last_name, item.first_name, item.middle_name),

		goToBookings (phone) {
			this.$router.push({ name: 'bookings', query: { search: phone } })
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>
