<template>
	<div>
		<div class="text-sm-left text-right mb-2">
			<invite-dialog v-if="isMainAdmin"/>
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4 hide-sort"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
			hide-default-footer
			disable-sort
		>
			<template v-slot:item.actions="{ item }" v-if="isMainAdmin">
				<div class="text-right">
					<v-icon
						v-if="item.id !== user.id"
						:title="$t('delete')"
						class="mr-2"
						color="primary"
						@click="removeItem(item)"
					>
						{{ $vuetify.icons.values.trash }}
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions, mapGetters } from 'vuex'
import InviteDialog from '@/components/users/UserInviteDialog'
import { hasRole } from '@/utils/permissions'

export default {
	components: { InviteDialog },
	data: () => ({
		isMainAdmin: hasRole('main administrator'),
		headers: [{ text: 'Имя', value: 'name' },
			{ text: 'E-mail', value: 'email' },
			{ text: 'Телефон', value: 'phone' },
			{ text: '', value: 'actions' },
		],
	}),
	methods: {
		...mapActions('users', ['setLoading', 'getItems', 'reset', 'remove']),
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.email }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
	},
	computed: {
		...mapGetters('users', ['items', 'loading']),
		...mapGetters('auth', ['user']),
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>

<style scoped>
</style>
