<template>
	<div>
		
		<edit-dialog/>
		
		<div class="text-sm-left text-right mb-2">
			
			<v-btn
				color="primary"
				dark
				class="mb-2"
				@click="showEditDialog()"
			>
				{{$t('template.create')}}
			</v-btn>
		</div>
		<v-data-table
			item-key="id"
			:items="items"
			class="elevation-4"
			:headers="headers"
			:loading="loading"
			:loading-text="$t('loadingData')"
		>
			
			<template v-slot:item.actions="{ item }">
				<div class="text-right">
					
					<v-icon
						:title="$t('edit')"
						class="mr-2"
						color="primary"
						@click="showEditDialog(item)"
					>
						{{ $vuetify.icons.values.edit }}
					</v-icon>
					
					<v-icon
						:title="$t('delete')"
						class="mr-2"
						color="primary"
						@click="removeItem(item)"
					>
						{{ $vuetify.icons.values.trash }}
					</v-icon>
				</div>
			</template>
		</v-data-table>
	</div>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import EditDialog from '@/components/_template/EditDialog'

export default {
	components: { EditDialog },
	data: () => ({
		headers: [
			{ text: 'ID', value: 'id' },
			{ text: 'Дата создания', value: 'created_at' },
			{ text: '', value: 'actions' },
		],
	}),
	computed: {
		...mapFields('apartments', ['editDialog', 'items', 'loading']),
	},

	methods: {
		...mapActions('apartments', ['setLoading', 'getItems', 'getItem', 'reset', 'remove']),
		removeItem (item) {
			this.$confirm({
				title: this.$t('deletion'),
				message: this.$t('deleteConfirmation', { value: item.name }),
				onConfirm: () => this.remove(item),
			}).then(confirmed => {
				if (confirmed) {
					this.getItems()
				}
			})
		},
		showEditDialog (item = null) {
			this.editDialog = true

			if (item) this.$store.commit('apartments/SET_ITEM', item)
		},
	},

	mounted () {
		if (this.items.length === 0) {
			this.getItems()
		}
	},
}
</script>

<style>
</style>
