.vue-file-agent {
  .is-sorting & {
    .file-preview-wrapper,
    .active-sorting-item {
      transition-duration: 0s;
    }
  }

  .is-sorting-active & {
    .file-preview-wrapper {
      opacity: 0.75;
    }

    .active-sorting-item {
      opacity: 1;
    }
  }

  .is-sortable-immediately & {
    .file-preview-wrapper,
    .file-preview-wrapper * {
      cursor: move;
    }
  }

  .file-preview-wrapper {
    .file-sortable-handle {
      position: absolute;
      z-index: 900;
      cursor: move;
      border-radius: 50%;

      background: rgba(255, 255, 255, 0.95);
      color: #222;

      margin: 0;
      width: 33px;
      height: 33px;
      left: 5px;
      top: 5px;
      padding: 4px;
    }

    .file-sortable-handle svg {
      fill: currentColor;
      width: 100%;
      height: 100%;
      vertical-align: top;
    }
  }
}
