$snotify-success: $snotify-success-border-color !default;
$snotify-info: $snotify-info-border-color !default;
$snotify-warning: $snotify-warning-border-color !default;
$snotify-error: $snotify-error-border-color !default;
$snotify-async: $snotify-async-border-color !default;

$snotify-icons: -generate-icons(
                (
                        error: $snotify-error,
                        warning: $snotify-warning,
                        info: $snotify-info,
                        success: $snotify-success,
                        async: $snotify-async
                )
) !default;

.snotify-icon {
  position: absolute;
  left: 15px;
  top: 15px;
  line-height: 0;
  max-height: 26px;
  max-width: 26px;
  width: 100%;
  height: 100%;
}

.snotify-icon--error {
  background-image: url('#{map-get($snotify-icons, error)}');
}

.snotify-icon--warning {
  background-image: url('#{map-get($snotify-icons, warning)}');
}

.snotify-icon--info {
  background-image: url('#{map-get($snotify-icons, info)}');
}

.snotify-icon--success {
  background-image: url('#{map-get($snotify-icons, success)}');
}

.snotify-icon--async {
  background-image: url('#{map-get($snotify-icons, async)}');
  animation: async 3s infinite linear;
  transform-origin: 50% 50%;
}
