$snotify-toast-bg: #fff !default;
$snotify-toast-color: #000 !default;
$snotify-toast-progressBar: #c7c7c7 !default;
$snotify-toast-progressBarPercentage: #4c4c4c !default;

$snotify-border-width: 8px !default;
$snotify-simple-border-color: #000 !default;
$snotify-success-border-color: #4caf50 !default;
$snotify-info-border-color: #1e88e5 !default;
$snotify-warning-border-color: #ff9800 !default;
$snotify-error-border-color: #f44336 !default;
$snotify-async-border-color: $snotify-info-border-color !default;
$snotify-confirm-border-color: #009688 !default;
$snotify-prompt-border-color: $snotify-confirm-border-color !default;

.snotifyToast {
  display: block;
  cursor: pointer;
  background-color: $snotify-toast-bg;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) !important;
  border-radius: 4px;
  max-height: 300px;
  max-width: $snotify-max-width;
  height: 100%;
  opacity: 0;
  overflow: hidden;
  pointer-events: auto;
  float: right;
  clear: both;
  margin-bottom: 10px;


  &--in {
    animation-name: appear;
  }

  &--out {
    animation-name: disappear;
  }

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding: 15px 15px 15px 52px;
    min-height: $snotify-min-height;
    font-size: 16px;
    color: $snotify-toast-color;
  }

  &__noIcon {
    padding: 5px 15px 5px 15px;
  }

  &__progressBar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: $snotify-toast-progressBar;

    &__percentage {
      position: absolute;
      top: 0;
      left: 0;
      height: 5px;
      background-color: $snotify-toast-progressBarPercentage;
      max-width: 100%;
    }
  }

  &__title {
    font-size: 1.8em;
    line-height: 1.2em;
    margin-bottom: 5px;
    color: $snotify-toast-color;
  }

  &__body {
    font-size: 1em;
    color: $snotify-toast-color;
  }
}

.snotifyToast-show {
  transform: translate(0, 0);
  opacity: 1;
}

.snotifyToast-remove {
  max-height: 0;
  overflow: hidden;
  transform: translate(0, 50%);
  opacity: 0;
}

/***************
 ** Modifiers **
 **************/

.snotify-simple {
  border-right: $snotify-border-width solid $snotify-simple-border-color;
}

.snotify-success {
  border-right: $snotify-border-width solid $snotify-success-border-color;
}

.snotify-info {
  border-right: $snotify-border-width solid $snotify-info-border-color;
}

.snotify-warning {
  border-right: $snotify-border-width solid $snotify-warning-border-color;
}

.snotify-error {
  border-right: $snotify-border-width solid $snotify-error-border-color;
}

.snotify-async {
  border-right: $snotify-border-width solid $snotify-async-border-color;
}

.snotify-confirm {
  border-right: $snotify-border-width solid $snotify-confirm-border-color;
}

.snotify-prompt {
  border-right: $snotify-border-width solid $snotify-prompt-border-color;
}

.snotify-confirm,
.snotify-prompt {
  .snotifyToast__inner {
    padding: 10px 15px;
  }
}

