<template>
	<div
		:class="[
            'file-preview-wrapper-' + this.fileRecord.ext(),
            this.fileRecord.isImage() ? 'file-preview-wrapper-image' : 'file-preview-wrapper-other',
            'file-category-' + this.fileRecord.icon().category,
            {'file-is-playing-av': this.fileRecord.isPlayingAv},
            {'is-deletable': this.deletable === true},
            {'has-error': this.fileRecord.error},
        ]"
	>
        <span
					class="file-preview"
					:class="{
'image-preview': fileRecord.isImage(),
'other-preview': !fileRecord.isImage(),
'dark-content': fileRecord.isImage() && fileRecord.isDarkColor(),
}"
					:style="{
'background-color': fileRecord.color(),
}"
				>
<span class="file-error-wrapper" v-if="fileRecord.error" @click="dismissError()">
<span class="file-error-message file-error-message-client">
{{ fileRecord.getErrorMessage(errorText) }}
</span>
</span>
<span class="file-preview-overlay"></span>
<span
	class="thumbnail"
	style="position: absolute; top: 0; right: 0; bottom: 0; left: 0; overflow: hidden;"
	v-if="fileRecord.isImage() || fileRecord.isPlayableVideo()"
>

<img class="file-preview-img" :src="fileRecord.src()"/>
</span>

<span
	v-if="deletable"
	class="file-delete"
	@mousedown="removeFileRecord(fileRecord)"
	@touchstart="removeFileRecord(fileRecord)"
>
<VueFileIcon name="system-close"></VueFileIcon>
</span>


<v-overlay absolute :opacity="0.5" :value="loading">
<v-progress-circular
	:size="50"
	color="white"
	indeterminate
></v-progress-circular>
</v-overlay>
</span>
	</div>
</template>


<script>
import { VueFilePreviewMixin } from 'vue-file-agent'

export default {
	mixins: [VueFilePreviewMixin],
	computed: {
		loading () {
			return this.fileRecord.hasProgress() && this.fileRecord.progress() < 100 && this.fileRecord.progress() > 0
		},
	},
}
</script>
