<template>
	<v-app>
		<component :is="layout">
			<router-view/>
		</component>
		
		<v-overlay :value="loading" style="z-index: 9999">
			<v-progress-circular
				indeterminate
				size="100"
			></v-progress-circular>
		</v-overlay>
		
		
		<vue-snotify/>
	</v-app>
</template>

<script>
import AuthLayout from './components/layouts/AuthLayout'
import MainLayout from './components/layouts/MainLayout'
import { mapState } from 'vuex'

export default {
	components: {
		AuthLayout,
		MainLayout,
	},
	computed: {
		...mapState('global', ['loading']),
		layout () {
			return this.$route.meta.layout ?? 'main-layout'
		},
	},

}
</script>
