/// Replace `$snotify-search` with `$snotify-replace` in `$snotify-string`
/// @author Hugo Giraudel
/// @param {String} $snotify-string - Initial string
/// @param {String} $snotify-search - Substring to replace
/// @param {String} $snotify-replace ('') - New value
/// @return {String} - Updated string
@function str-replace($snotify-string, $snotify-search, $snotify-replace: '') {
  $snotify-index: str-index($snotify-string, $snotify-search);

  @if $snotify-index {
    @return str-slice($snotify-string, 1, $snotify-index - 1) + $snotify-replace + str-replace(str-slice($snotify-string, $snotify-index + str-length($snotify-search)), $snotify-search, $snotify-replace);
  }

  @return $snotify-string;
}

@function -svg($snotify-svg, $snotify-color, $snotify-viewBox: '0 0 24 24') {
  $snotify-result: 'data:image/svg+xml;charset=UTF-8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" x="0px" y="0px" viewBox="#{$snotify-viewBox}" fill="#{$snotify-color}">#{$snotify-svg}</svg>';
  $snotify-result: str-replace($snotify-result, '%', '%25');
  $snotify-result: str-replace($snotify-result, '"', '%22');
  $snotify-result: str-replace($snotify-result, "'", '%27');
  $snotify-result: str-replace($snotify-result, ' ', '%20');
  $snotify-result: str-replace($snotify-result, '<', '%3C');
  $snotify-result: str-replace($snotify-result, '>', '%3E');
  $snotify-result: str-replace($snotify-result, '#', '%23');

  @return $snotify-result;
}

@function -generate-icons($snotify-colors-map) {
  @return (
          error: -svg(
                          '<g><path d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z"/></g>',
                          map-get($snotify-colors-map, error)
          ),
          warning: -svg(
                          '<g><path d="M13 14H11V9H13M13 18H11V16H13M1 21H23L12 2L1 21Z"/></g>',
                          map-get($snotify-colors-map, warning)
          ),
          info: -svg(
                          '<g><path d="M13,9H11V7H13M13,17H11V11H13M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12A10,10 0 0,0 12,2Z"/></g>',
                          map-get($snotify-colors-map, info)
          ),
          success: -svg(
                          '<g><path d="M12,2C17.52,2 22,6.48 22,12C22,17.52 17.52,22 12,22C6.48,22 2,17.52 2,12C2,6.48 6.48,2 12,2M11,16.5L18,9.5L16.59,8.09L11,13.67L7.91,10.59L6.5,12L11,16.5Z"/></g>',
                          map-get($snotify-colors-map, success)
          ),
          async: -svg(
                          '<g><path d="M12,4V2A10,10 0 0,0 2,12H4A8,8 0 0,1 12,4Z"/></g>',
                          map-get($snotify-colors-map, async)
          )
  );
}
