<template>
	<v-dialog
		v-model="editDialog"
		max-width="800px"
		:fullscreen="$vuetify.breakpoint.mdAndDown"
		@input="v => v || onDialogClose()"
	>
		<v-card>
			<v-overlay :value="itemLoading || formLoading" :absolute="true">
				<v-progress-circular
					:size="100"
					color="white"
					indeterminate
				></v-progress-circular>
			</v-overlay>
			
			<v-card-title><span
				class="headline">{{$t('owners_contracts.dialog.title')}} №{{item.id}}</span>
			</v-card-title>
			
			
			<v-card-text class="text-body-1 ">
				
				<v-tabs class="mb-4" v-model="tab">
					<v-tab>Данные</v-tab>
					<v-tab>Фотографии</v-tab>
				</v-tabs>
				<div v-if="tab === 0">
					<b>{{$t('owner')}}</b>: {{ownerName}}<br>
					<b>{{$t('address')}}</b>: {{address}}<br>
					<b>{{$t('egrn')}}</b>: {{item.egrn}}<br>
					<b>{{$t('hot_water_meter')}}</b>: {{item.hot_water_meter}}<br>
					<b>{{$t('hot_water_tariff')}}</b>: {{item.hot_water_tariff}}
					{{$t('rub')}}
					<br>
					<b>{{$t('cold_water_meter')}}</b>: {{item.cold_water_meter}}<br>
					<b>{{$t('cold_water_tariff')}}</b>: {{item.cold_water_tariff}}
					{{$t('rub')}}
					<br>
					<b>{{$t('electricity_meter')}}</b>: {{item.electricity_meter}}<br>
					<b>{{$t('electricity_tariff')}}</b>: {{item.electricity_tariff}} {{$t('rub')}}<br>
					<b>{{$t('meeting_date')}}</b>: {{item.meeting_date}}<br>
					
					<b>{{$t('sign_date')}}</b>:
					<span v-if="item.status === verification_status">
						<v-dialog
							ref="dialog"
							v-model="signDatePicker"
							width="290px"
						>
							<template v-slot:activator="{ on, attrs }">
								<a href="#" v-bind="attrs" v-on="on">{{signDateString}}</a>
							</template>
							<v-date-picker v-model="item.sign_date" @input="signDatePicker = false" no-title/>
							
						</v-dialog>
					</span>
					<span v-else>{{item.sign_date}}</span>
					
					<br>
					<b>{{$t('status')}}</b>: {{item.status_title}}<br>
					
					<span v-if="item.apartment_id" @click="showApartment">
						<br>
						<v-btn @click="apartmentRoute" small class="mt-3">
							<v-icon>{{homeIcon}}</v-icon>
							{{$t('owners_contracts.show_apartment')}}
						</v-btn>
					</span>
				</div>
				
				<div v-if="tab === 1">
					<div v-if="images.length > 0">
						<lingallery :addons="{ enableLargeView: true }"
							:responsive="true"
							:items="images"/>
					</div>
					<div v-else>Фотографий нет</div>
				</div>
			</v-card-text>
			
			<v-card-actions>
				<v-row no-gutters class="justify-end justify-sm-none">
					<template v-if="item.status === verification_status && tab === 0">
						<v-btn class="mr-sm-4" color="primary" @click="declineContract">
							{{$t('decline')}}
						</v-btn>
						
						<v-spacer v-if="$vuetify.breakpoint.xsOnly"/>
						
						<v-btn
							color="success"
							:disabled="formLoading || !this.item.sign_date"
							@click="acceptContract"
						>{{$t('accept')}}
						</v-btn>
						
						<v-spacer v-if="$vuetify.breakpoint.smAndUp"/>
						<div style="width: 100%" class="d-sm-none mb-4 mb-sm-0"></div>
					
					</template>
					<v-btn text @click="editDialog = false">
						{{$t('close')}}
					</v-btn>
				</v-row>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import { mdiHome } from '@mdi/js'
import defaultState from '@/store/owners_contracts/state'
import Lingallery from 'lingallery'
import { OWNER_CONTRACT_VERIFICATION } from '@/utils/types/owner_contract_status'

export default {
	components: {
		Lingallery,
	},
	data: () => ({
		verification_status: OWNER_CONTRACT_VERIFICATION,
		tab: 0,
		homeIcon: mdiHome,
		signDatePicker: false,
		signDate: null,
	}),
	computed: {
		...mapFields('owners_contracts', ['editDialog', 'itemLoading', 'formLoading', 'item']),
		address () {
			const item = this.item
			return `${item.city}, ${item.street} ${item.house}, ${item.apartment_number}`
		},
		ownerName () {
			if (this.item.owner) {
				const owner = this.item.owner
				return `${owner.last_name} ${owner.first_name} ${owner.middle_name}`
			}

			return ''
		},

		signDateString () {
			if (this.item.sign_date) {
				return this.$moment(new Date(this.item.sign_date)).format('DD.MM.YY')
			}

			return 'выбрать дату'
		},

		images () {
			const images = Object.entries(this.item.images)
			let output = []

			if (images.length > 0) {
				images.forEach(([, category]) => {
					output = output.concat(category)
				})

				output = output.map(image => (
					{
						src: image.url,
						thumbnail: image.thumb,
					}
				))
			}

			return output
		},
		apartmentRoute () {
			if (this.item.apartment_id) {
				return { name: 'apartments', query: { id: this.item.apartment_id } }
			}

			return ''
		},
	},
	methods: {
		...mapActions('owners_contracts', ['getItems', 'accept', 'decline', 'getItem']),

		onDialogClose () {
			if (this.item.id) {
				setTimeout(() => {
					this.reset()
				}, 500)
			}
		},
		acceptContract () {
			this.accept(this.item).then(() => this.reset())
		},
		declineContract () {
			this.decline(this.item).then(() => this.reset())
		},
		reset () {
			this.$store.commit('owners_contracts/SET_ITEM', defaultState().item)
			this.editDialog = false
			this.tab = 0
		},
		showApartment () {
			this.$router.push({ name: 'apartments', query: { id: this.item.apartment_id } })
			this.reset()
		},
	},
}
</script>

<style scoped>

</style>
