<template>
	<div class="text-center">
		<div class="font-weight-thin display-1 mb-4">{{$t('auth.authorization')}}</div>
		<v-form
			ref="form"
			v-model="valid"
			lazy-validation
			class="text-center"
			@submit.prevent="validateAndLogin"
		>
			<v-text-field
				name="email"
				v-model="email"
				:rules="emailRules"
				:label="$t('auth.email')"
				placeholder=""
				required
				validate-on-blur
				:error-messages="errors.email"
				@focus="errors.email = ''"
			></v-text-field>
			
			<v-text-field
				name="password"
				:label="$t('auth.password')"
				v-model="password"
				:rules="passwordRules"
				required
				validate-on-blur
				autocomplete
				:append-icon="passAppendIcon"
				@click:append="() => (passwordHidden = !passwordHidden)"
				:type="passTextFieldType"
				:error-messages="errors.password"
				@focus="errors.password = ''"
			></v-text-field>
			
			<v-btn
				color="primary"
				class="mt-4"
				:loading="loading"
				type="submit"
			>
				{{ $t('auth.enter') }}
			</v-btn>
			<div class="mt-3 text-right">
				<a href="" @click.prevent="passwordResetRequestModal = true">Забыли пароль?</a>
			</div>
			<div class="mt-3 text-right">
				<router-link to="registration">{{ $t('auth.registration') }}
				</router-link>
			</div>
		
		</v-form>
		
		<request-password-reset-modal :init-email="email"/>
		<reset-password-modal/>
	</div>
</template>

<script>
import { emailRules, passwordRules } from '@/utils/fieldsRules'
import { mapActions, mapState } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import RequestPasswordResetModal from '@/components/auth/RequestPasswordResetModal'
import ResetPasswordModal from '@/components/auth/ResetPasswordModal'

export default {
	name: 'Login',
	components: {
		ResetPasswordModal,
		RequestPasswordResetModal,
	},
	data () {
		return {
			dialog: true,
			valid: false,
			email: this.$route.query.email ?? '',
			password: '',
			passwordHidden: true,
			errors: {},
			processing: false,
		}
	},
	computed: {
		...mapState('auth', ['loading', 'token', 'user']),
		...mapFields('passwordReset', { passwordResetRequestModal: 'requestModal' }),
		...{ emailRules, passwordRules },

		passAppendIcon () {
			return this.passwordHidden ? this.$vuetify.icons.values.eye : this.$vuetify.icons.values.eyeOff
		},
		passTextFieldType () {
			return this.passwordHidden ? 'password' : 'text'
		},

	},
	methods: {
		...mapActions('auth', ['login']),
		validateAndLogin () {
			if (this.$refs.form.validate()) {
				this.login({ email: this.email, password: this.password })
			}
		},
	},
}
</script>

<style scoped>

</style>
