<template>
	<div class="text-center">
		<div class="font-weight-thin display-1 mb-4">{{$t('auth.registration')}}</div>
		<v-form
			ref="form"
			v-model="valid"
			lazy-validation
			class="text-center"
			@submit.prevent="validate"
		>
			<v-text-field
				name="name"
				v-model="fields.name"
				:rules="nameRules"
				:label="$t('auth.name')"
				validate-on-blur
				required
				:error-messages="errors.name"
				@focus="errors.name = null"
				:disabled="invitationDataLoading"
			></v-text-field>
			<v-text-field
				name="email"
				v-model="fields.email"
				:rules="emailRules"
				:label="$t('auth.email')"
				placeholder="administrator@gmail.com"
				validate-on-blur
				required
				:error-messages="errors.email"
				@focus="errors.email = null"
				:readonly="isInvitation"
			></v-text-field>
			<v-text-field
				name="phone"
				type="tel"
				v-model="fields.phone"
				:rules="phoneRules"
				:label="$t('auth.phone')"
				placeholder="+7 (900) 000-00-00"
				validate-on-blur
				required
				:error-messages="errors.phone"
				@focus="errors.phone = null"
				@change="formatPhone"
			></v-text-field>
			<v-text-field
				name="password"
				:label="$t('auth.password')"
				v-model="fields.password"
				:rules="passwordRules"
				validate-on-blur
				required
				autocomplete
				:append-icon="passAppendIcon"
				@click:append="() => (passwordHidden = !passwordHidden)"
				:type="passTextFieldType"
				:error-messages="errors.password"
				@focus="errors.password = null"
			></v-text-field>
			
			<v-checkbox v-model="agreement" required class="mt-2">
				<template v-slot:label>
					<div>
						{{$t('auth.agreementAccept1')}}
						
						<a href="" @click.prevent.stop="agreementModalShow">
							{{$t('auth.agreementAccept2')}}</a>
					</div>
				</template>
			</v-checkbox>
			
			<v-btn
				:disabled="!valid || !agreement"
				color="primary"
				class="mt-1"
				type="submit"
				:loading="processing"
			>
				{{ $t('auth.register') }}
			</v-btn>
		</v-form>
		<privacy-agreement/>
	</div>
</template>
<script>
import PrivacyAgreement from '../../components/auth/PrivacyAgreement'
import { mapActions, mapMutations, mapState } from 'vuex'
import { emailRules, nameRules, passwordRules, phoneRules } from '@/utils/fieldsRules'
import { formatPhone } from '@/utils/fieldsFormatters'

export default {
	components: {
		PrivacyAgreement,
	},
	data () {
		return {
			valid: false,
			fields: {
				name: '',
				email: '',
				phone: '',
				password: '',
			},
			isInvitation: false,
			invitationDataLoading: false,
			// errors: {},
			passwordHidden: true,
			agreement: true,
		}
	},
	computed: {
		...mapState('registration', ['agreementModal', 'errors', 'processing']),
		...{ nameRules, phoneRules, emailRules, passwordRules },
		passAppendIcon () {
			return this.passwordHidden ? this.$vuetify.icons.values.eye : this.$vuetify.icons.values.eyeOff
		},
		passTextFieldType () {
			return this.passwordHidden ? 'password' : 'text'
		},
	},

	methods: {
		...mapActions('registration', ['register', 'getInvitedUserData']),
		...mapMutations('registration', ['agreementModalShow']),
		validate () {
			if (this.$refs.form.validate()) {
				this.register(this.fields)
			}
		},
		formatPhone (value) {
			this.fields.phone = formatPhone(value)
		},
	},

	mounted () {
		if (this.$route.params.userIdHash) {
			const userIdHash = this.$route.params.userIdHash
			this.isInvitation = true
			this.invitationDataLoading = true

			this.getInvitedUserData(userIdHash).then((data) => {
				Object.assign(this.fields, data)
				this.fields.userIdHash = userIdHash
				this.invitationDataLoading = false
			})
		}
	},
}

</script>
<style lang="scss" scoped>

</style>
