<template>
	
	<div class="text-center">
		<div class="font-weight-thin display-1 mb-4">{{$t('auth.verification')}}</div>
		<p class="main-text" v-html="$t('auth.verificationText')"></p>
		
		<v-dialog
			v-model="sendDialog"
			width="500"
		>
			<template v-slot:activator="{ on, attrs }">
				<a class="main-text" href="#" v-bind="attrs" v-on="on">{{ $t('auth.emailNotReceived') }}</a>
			</template>
			
			<v-card :loading="sendLoading" :disabled="sendLoading">
				<v-card-title>
					<span class="headline">Письмо</span>
				</v-card-title>
				<v-card-text>
					<p>Мы отправили его на почту <strong>{{email}}</strong>, обычно доставка занимает не
						дольше
						минуты, так же письмо могло попасть в папку "спам". Если ничего не пришло то можем
						отправить
						снова.</p>
				</v-card-text>
				
				<v-divider></v-divider>
				
				<v-card-actions>
					<v-btn
						color="primary"
						class=""
						text
						@click="sendVerification(email)"
						:loading="sendLoading"
					>
						Отправьте ещё раз
					</v-btn>
					<v-spacer></v-spacer>
					<v-btn
						color="primary"
						text
						@click="sendDialog = false"
					>
						Закрыть
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
		
		<v-overlay :value="verificationLoading">
			<v-progress-circular
				indeterminate
				size="100"
			></v-progress-circular>
		</v-overlay>
	</div>
</template>
<script>
import { mapFields } from 'vuex-map-fields'
import { mapActions } from 'vuex'

export default {
	data () {
		return {
			email: this.$route.query.email,
		}
	},
	methods: {
		...mapActions('verification', ['sendVerification', 'verify']),
	},
	computed: {
		...mapFields('verification', ['sendLoading', 'sendDialog', 'verificationLoading']),
	},

	mounted () {
		this.$nextTick(() => {
			const { email, expires, signature } = this.$route.query

			if (email && expires && signature) {
				this.verify({ email, expires, signature })
			}
		})
	},
}

</script>
<style lang="scss" scoped>
.main-text {
	font-size: 22px;
	font-weight: lighter;
}
</style>
