<template>
	<v-dialog
		v-model="agreementModalShown"
		:fullscreen="$vuetify.breakpoint.smAndDown"
		width="auto "
		@click:outside="agreementModalClose"
		:no-click-animation="true"
	
	
	>
		<v-card class="dialog-with-scroll">
			<v-card-title>
				<span class="headline">{{ $t('auth.serviceRules')}}</span>
				<v-spacer></v-spacer>
				<v-icon large color="primary" @click="agreementModalClose">{{ closeIcon }}</v-icon>
			
			
			</v-card-title>
			
			<v-card-text>
				<p class="agreement-text" v-html="$t('auth.privacyAgreement')"></p>
			</v-card-text>
			
			<v-divider></v-divider>
			
			<v-card-actions>
				<v-spacer></v-spacer>
				<v-btn
					color="primary"
					text
					@click="agreementModalClose"
				>
					{{$t('auth.accept')}}
				</v-btn>
			</v-card-actions>
		</v-card>
	</v-dialog>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
import { mdiClose } from '@mdi/js'

export default {
	name: 'PrivacyAgreement',
	data () {
		return {
			closeIcon: mdiClose,
			modal: true,
		}
	},
	computed: {
		...mapState('registration', ['agreementModalShown']),
	},
	methods: {
		...mapMutations('registration', ['agreementModalClose']),
	},
}
</script>

<style>
.dialog-with-scroll {
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
}

.agreement-text {
	white-space: pre-line;
}

.agreement-text a {
	text-decoration-style: unset;
	/* border-bottom:1px dotted rgb(51, 51, 51); */
}
</style>
