<template>
	<v-dialog
		v-model="requestModal"
		max-width="400px "
	>
		<v-card :loading="requestLoading">
			<v-form
				ref="sendForm"
				v-model="valid"
				lazy-validation
				class="text-center"
				@submit.prevent="validateAndSend"
			>
				<v-card-title>
					<span class="headline">{{ $t('auth.resetRequestTitle') }}</span>
				</v-card-title>
				<v-card-text>
					<span v-html="$t('auth.resetRequestText')"/>
					<v-text-field
						name="email"
						v-model="email"
						:rules="emailRules"
						:label="$t('auth.email')"
						placeholder=""
						required
						validate-on-blur
						:error-messages="errors.email"
						@focus="errors.email = ''"
					></v-text-field>
					<v-text-field
						name="phone"
						type="tel"
						v-model="phone"
						:rules="phoneRules"
						:label="$t('auth.phone')"
						placeholder="+7 (900) 000-00-00"
						validate-on-blur
						required
						:error-messages="errors.phone"
						@focus="errors.phone = ''"
						@change="formatPhone"
					></v-text-field>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn
						color="primary darken-1"
						text
						@click="requestModal = false"
					>
						{{$t('close')}}
					</v-btn>
					<v-btn
						color="primary darken-1"
						text
						type="submit"
						:loading="requestLoading"
					>
						{{$t('auth.resetRequestSubmit')}}
					</v-btn>
				</v-card-actions>
			
			</v-form>
		</v-card>
	</v-dialog>
</template>

<script>
import { mdiEye, mdiEyeOff } from '@mdi/js'
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import regex from '@/utils/regex'

export default {
	name: 'ResetPassword',
	data: function () {
		return {
			icons: {
				mdiEye,
				mdiEyeOff,
			},
			valid: false,
			email: this.initEmail,
			phone: '',
			password: '',
			passwordHidden: true,
			errors: {},
		}
	},
	props: ['initEmail'],
	computed: {
		...mapFields('passwordReset', ['requestModal', 'requestLoading']),
		phoneRules () {
			return [
				v => !!v || this.$t('auth.phoneRequired'),
				v => regex.phone.test(v) || this.$t('auth.incorrectPhone'),
			]
		},
		emailRules () {
			return [
				v => !!v || this.$t('auth.emailRequired'),
				v => regex.email.test(v) || this.$t('auth.incorrectEmail'),
			]
		},
	},
	methods: {
		...mapActions('passwordReset', ['sendPasswordReset']),
		validateAndSend () {
			if (this.$refs.sendForm.validate()) {
				this.sendPasswordReset({ email: this.email, phone: this.phone })
			}
		},
		formatPhone (value) {
			this.phone = value.replace(/[^+\d]/g, '')
		},
	},
	watch: {
		initEmail: function (value) {
			this.email = value
		},
	},
}
</script>

<style scoped>

</style>
