<template>
	<v-dialog
		v-model="resetModal"
		max-width="400px "
		persistent
	>
		<v-card :loading="resetModalLoading">
			<v-card-title>
				<span class="headline">{{ $t('auth.resetPasswordTitle') }}</span>
			</v-card-title>
			
			<v-form
				ref="resetForm"
				v-model="valid"
				lazy-validation
				class="text-center"
				@submit.prevent="validateAndReset"
			>
				<v-card-text>
					<v-text-field
						name="password"
						:label="$t('auth.newPassword')"
						v-model="password"
						:rules="passwordRules"
						required
						validate-on-blur
						autocomplete
						:append-icon="passAppendIcon"
						@click:append="() => (passwordHidden = !passwordHidden)"
						:type="passTextFieldType"
						:error-messages="errors.password"
						@focus="errors.password = ''"
					></v-text-field>
				</v-card-text>
				<v-card-actions>
					<v-btn
						color="primary darken-1"
						text
						@click="resetModal = false"
					>
						{{$t('close')}}
					</v-btn>
					<v-spacer/>
					<v-btn
						color="primary darken-1"
						text
						type="submit"
						:loading="resetModalLoading"
					>
						{{$t('auth.resetPasswordSubmit')}}
					</v-btn>
				</v-card-actions>
			</v-form>
		</v-card>
	</v-dialog>
</template>

<script>
import { mdiEye, mdiEyeOff } from '@mdi/js'
import { mapActions } from 'vuex'
import { mapFields } from 'vuex-map-fields'
import regex from '@/utils/regex'

export default {
	data: () => ({
		icons: {
			mdiEye,
			mdiEyeOff,
		},
		valid: false,
		password: '',
		passwordHidden: true,
		errors: {},
	}),
	computed: {
		...mapFields('passwordReset', ['resetModal', 'resetModalLoading']),
		passwordRules () {
			return [
				v => !!v || this.$t('auth.passwordRequired'),
				v => regex.password.test(v) || this.$t('auth.incorrectPassword'),
				v => v.length >= 8 || this.$t('auth.passwordMinLength'),
			]
		},
		passAppendIcon () {
			return this.passwordHidden ? this.icons.eye : this.icons.eyeOff
		},
		passTextFieldType () {
			return this.passwordHidden ? 'password' : 'text'
		},
	},
	methods: {
		...mapActions('passwordReset', ['resetPassword']),
		validateAndSend () {
			if (this.$refs.sendForm.validate()) {
				this.sendPasswordReset({ email: this.email, phone: this.phone })
			}
		},

		validateAndReset () {
			const { token, email } = this.$route.query
			if (this.$refs.resetForm.validate()) {
				if (token, email) {
					this.resetPassword({
						token,
						email,
						password: this.password,
						'password_confirmation': this.password,
					})
				}
			}

		},
	},
	mounted () {
		this.$nextTick(() => {
			const { token, email } = this.$route.query
			if (this.$route.path === '/reset-password' && token && email) {
				this.resetModal = true
			}
		})
	},
}
</script>

<style scoped>

</style>
